<!doctype html>
<html class="no-js " lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">

    <title>{% block title %}Cite de la culture{% endblock %}</title>

    {% block stylesheets %}

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.17/angular-material.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.3.0/css/flag-icon.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

        <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
        <link rel="stylesheet" href="{{ asset('plugins/bootstrap/css/bootstrap.min.css') }}">

        <!-- Custom Css -->
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <link rel="stylesheet" href={{ asset('css/color_skins.css') }}>


        <link rel="stylesheet" href="{{ asset('plugins/jvectormap/jquery-jvectormap-2.0.3.min.css') }}">
        <link rel="stylesheet" href="{{ asset('plugins/morrisjs/morris.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/blog.css') }}">




        <link rel="stylesheet" href="{{ asset('plugins/jvectormap/jquery-jvectormap-2.0.3.min.css')}}"/>
        <link rel="stylesheet" href="{{ asset('plugins/morrisjs/morris.min.css')}}" />

        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>


    {% endblock %}


</head>
<body class="theme-purple">
{% block header %}

    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30"><img class="zmdi-hc-spin" src="https://thememakker.com/templates/infinio/html/assets/images/logo.svg" width="48" height="48" alt="InfiniO"></div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>

    <!-- Top Bar -->
    <nav class="top_navbar">
        <div class="container">
            <div class="row clearfix">
                <div class="col-12">
                    <div class="navbar-logo">
                        <a href="javascript:void(0);" class="bars"></a>
                        <a class="navbar-brand" href="{{ path('pi_homepage') }}"><img src="https://thememakker.com/templates/infinio/html/assets/images/logo.svg" width="30" alt="InfiniO"><span class="m-l-10">Cite De La Culture</span></a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="search_bar hidden-xs">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Find your stuff...">
                            </div>
                        </li>



                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <aside id="leftsidebar" class="sidebar h_menu">
        <div class="container">
            <div class="row clearfix">
                <div class="col-12">
                    <div class="menu">
                        <ul class="list">
                            <li class="header">MAIN</li>
                            <li> <a href=""><i class="icon-notebook"></i><span>Actualités</span></a></li>
                            <li><a href="javascript:void(0);" class="menu-toggle"><i class="icon-calendar"></i><span>Evènements</span></a>
                                <ul class="ml-menu">
                                    <li><a href="{{ path('afficherAdmin') }}">Evènements A Valider</a></li>
                                    <li><a href="{{ path('afficherSalles') }}">Gestion Des Salles</a></li>
                                </ul>
                            </li>

                            <li><a href="javascript:void(0);" class="menu-toggle"><i class="icon-book-open"></i><span>Bibliothèque</span></a>

                            </li>



                            <li><a href="javascript:void(0);" class="menu-toggle"><i class="icon-music-tone"></i><span>Activités</span></a>
                            </li>
                            <li class="header">EXTRA COMPONENTS</li>
                            <li><a href="" class="menu-toggle"><i class="icon-credit-card"></i><span>Panier</span></a>

                            </li>

                            <li > <a href="javascript:void(0);" class="menu-toggle"><i class="icon-folder-alt"></i><span>Docs</span></a>

                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </aside>

    <!-- Right Sidebar -->



    <!-- Jquery Core Js -->
{% endblock %}

{% block body %}

    <!-- Main Content -->
    <section class="content">
        <div class="container">
            {% block content %}
            {% endblock %}


        </div>
    </section>


{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/libscripts.bundle.js') }}"></script>
    <script src="{{ asset('bundles/vendorscripts.bundle.js') }}"></script>
    <script src="{{ asset('bundles/mainscripts.bundle.js') }}"></script><!-- Lib Scripts Plugin Js -->
{% endblock %}

</body>
</html>
