<!doctype html>
<html class="no-js " lang="en">


<head>

    <title>Cite de la Culture</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    {% block stylesheets %}

        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        <link rel="shortcut icon" href="{{ asset('https://htmlstream.com/preview/front-v2.3.0/favicon.ico') }}">

        <!-- Google Fonts -->
        <link href="http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">


        <!-- CSS Implementing Plugins -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('Front/vendor/font-awesome/css/fontawesome-all.min.css') }}">
        <link rel="stylesheet" href="{{ asset('Front/vendor/animate.css/animate.min.css') }}">
        <link rel="stylesheet" href="{{ asset('Front/vendor/hs-megamenu/src/hs.megamenu.css') }}">
        <link rel="stylesheet" href="{{ asset('Front/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css') }}">
        <link rel="stylesheet" href="{{ asset('Front/vendor/fancybox/jquery.fancybox.css') }}">
        <link rel="stylesheet" href="{{ asset('Front/vendor/slick-carousel/slick/slick.css') }}">

        <!-- CSS Front Template -->
        <link rel="stylesheet" href="{{ asset('Front/css/theme.css') }}">

    {% endblock %}


</head>

{% block header %}
<header id="header" class="u-header u-header--abs-top-md u-header--bg-transparent u-header--show-hide-md"
        data-header-fix-moment="500"
        data-header-fix-effect="slide">
    <!-- Search -->
    <div id="searchPushTop" class="u-search-push-top">
        <div class="container position-relative">
            <div class="u-search-push-top__content">
                <!-- Close Button -->
                <button type="button" class="close u-search-push-top__close-btn"
                        aria-haspopup="true"
                        aria-expanded="false"
                        aria-controls="searchPushTop"
                        data-unfold-type="jquery-slide"
                        data-unfold-target="#searchPushTop">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!-- End Close Button -->

                <!-- Input -->
                <form class="js-focus-state input-group input-group-lg">
                    <input type="search" class="form-control" placeholder="Search Front" aria-label="Search Front">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary">Search</button>
                    </div>
                </form>
                <!-- End Input -->


            </div>
        </div>
    </div>
    <!-- End Search -->

    <div class="u-header__section">
        <!-- Topbar -->
        <div class="container u-header__hide-content pt-2">
            <div class="d-flex align-items-center">
                <!-- Language -->
                <div class="position-relative">
                    <a id="languageDropdownInvoker" class="dropdown-nav-link dropdown-toggle d-flex align-items-center" href="javascript:;" role="button"
                       aria-controls="languageDropdown"
                       aria-haspopup="true"
                       aria-expanded="false"
                       data-unfold-event="hover"
                       data-unfold-target="#languageDropdown"
                       data-unfold-type="css-animation"
                       data-unfold-duration="300"
                       data-unfold-delay="300"
                       data-unfold-hide-on-scroll="true"
                       data-unfold-animation-in="slideInUp"
                       data-unfold-animation-out="fadeOut">
                        <img class="dropdown-item-icon" src="https://htmlstream.com/preview/front-v2.3.0/assets/vendor/flag-icon-css/flags/4x3/us.svg" alt="SVG">
                        <span class="d-inline-block d-sm-none">US</span>
                        <span class="d-none d-sm-inline-block">United States</span>
                    </a>

                    <div id="languageDropdown" class="dropdown-menu dropdown-unfold" aria-labelledby="languageDropdownInvoker">
                        <a class="dropdown-item active" href="#">English</a>
                        <a class="dropdown-item" href="#">Deutsch</a>
                        <a class="dropdown-item" href="#">Español‎</a>
                    </div>
                </div>
                <!-- End Language -->

                <div class="ml-auto">
                    <!-- Jump To -->
                    <div class="d-inline-block d-sm-none position-relative mr-2">
                        <a id="jumpToDropdownInvoker" class="dropdown-nav-link dropdown-toggle d-flex align-items-center" href="javascript:;" role="button"
                           aria-controls="jumpToDropdown"
                           aria-haspopup="true"
                           aria-expanded="false"
                           data-unfold-event="hover"
                           data-unfold-target="#jumpToDropdown"
                           data-unfold-type="css-animation"
                           data-unfold-duration="300"
                           data-unfold-delay="300"
                           data-unfold-hide-on-scroll="true"
                           data-unfold-animation-in="slideInUp"
                           data-unfold-animation-out="fadeOut">
                            Jump to
                        </a>

                        <div id="jumpToDropdown" class="dropdown-menu dropdown-unfold" aria-labelledby="jumpToDropdownInvoker">
                            <a class="dropdown-item" href="https://htmlstream.com/preview/front-v2.3.0/html/pages/help.html">Help</a>
                            <a class="dropdown-item" href="https://htmlstream.com/preview/front-v2.3.0/html/pages/contacts-agency.html">Contacts</a>
                        </div>
                    </div>
                    <!-- End Jump To -->

                    <!-- Links -->
                    <div class="d-none d-sm-inline-block ml-sm-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item mr-0">
                                <a class="u-header__navbar-link" href="https://htmlstream.com/preview/front-v2.3.0/html/pages/help.html">Help</a>
                            </li>
                            <li class="list-inline-item mr-0">
                                <a class="u-header__navbar-link" href="https://htmlstream.com/preview/front-v2.3.0/html/pages/contacts-agency.html">Contacts</a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Links -->
                </div>

                <ul class="list-inline ml-2 mb-0">
                    <!-- Search -->
                    <li class="list-inline-item">
                        <a class="btn btn-xs btn-icon btn-text-secondary" href="javascript:;" role="button"
                           aria-haspopup="true"
                           aria-expanded="false"
                           aria-controls="searchPushTop"
                           data-unfold-type="jquery-slide"
                           data-unfold-target="#searchPushTop">
                            <span class="fas fa-search btn-icon__inner"></span>
                        </a>
                    </li>
                    <!-- End Search -->

                    <!-- Shopping Cart -->
                    <li class="list-inline-item position-relative">
                        <a id="shoppingCartDropdownInvoker" class="btn btn-xs btn-icon btn-text-secondary" href="javascript:;" role="button"
                           aria-controls="shoppingCartDropdown"
                           aria-haspopup="true"
                           aria-expanded="false"
                           data-unfold-event="hover"
                           data-unfold-target="#shoppingCartDropdown"
                           data-unfold-type="css-animation"
                           data-unfold-duration="300"
                           data-unfold-delay="300"
                           data-unfold-hide-on-scroll="true"
                           data-unfold-animation-in="slideInUp"
                           data-unfold-animation-out="fadeOut">
                            <span class="fas fa-shopping-cart btn-icon__inner"></span>
                        </a>

                        <div id="shoppingCartDropdown" class="dropdown-menu dropdown-unfold dropdown-menu-right text-center p-7" aria-labelledby="shoppingCartDropdownInvoker" style="min-width: 250px;">
                <span class="btn btn-icon btn-soft-primary rounded-circle mb-3">
                  <span class="fas fa-shopping-basket btn-icon__inner"></span>
                </span>
                            <span class="d-block">Your Cart is Empty</span>
                        </div>
                    </li>
                    <!-- End Shopping Cart -->

                    <!-- Account Login -->
                    <li class="list-inline-item">
                        <!-- Account Sidebar Toggle Button -->
                        <a id="sidebarNavToggler" class="btn btn-xs btn-icon btn-text-secondary" href="javascript:;" role="button"
                           aria-controls="sidebarContent"
                           aria-haspopup="true"
                           aria-expanded="false"
                           data-unfold-event="click"
                           data-unfold-hide-on-scroll="false"
                           data-unfold-target="#sidebarContent"
                           data-unfold-type="css-animation"
                           data-unfold-animation-in="fadeInRight"
                           data-unfold-animation-out="fadeOutRight"
                           data-unfold-duration="500">
                            <span class="fas fa-user-circle btn-icon__inner font-size-1"></span>
                        </a>
                        <!-- End Account Sidebar Toggle Button -->
                    </li>
                    <!-- End Account Login -->
                </ul>
            </div>
        </div>
        <!-- End Topbar -->

        <div id="logoAndNav" class="container">
            <!-- Nav -->
            <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar u-header__navbar--no-space">
                <!-- Logo -->
                <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-center" href="{{ path('pi_homepage') }}" aria-label="Front">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="46px" height="46px" viewBox="0 0 46 46" xml:space="preserve" style="margin-bottom: 0;">
              <path fill="#3F7DE0" opacity=".65" d="M23,41L23,41c-9.9,0-18-8-18-18v0c0-9.9,8-18,18-18h11.3C38,5,41,8,41,11.7V23C41,32.9,32.9,41,23,41z"/>
                        <path class="fill-info" opacity=".5" d="M28,35.9L28,35.9c-9.9,0-18-8-18-18v0c0-9.9,8-18,18-18l11.3,0C43,0,46,3,46,6.6V18C46,27.9,38,35.9,28,35.9z"/>
                        <path class="fill-primary" opacity=".7" d="M18,46L18,46C8,46,0,38,0,28v0c0-9.9,8-18,18-18h11.3c3.7,0,6.6,3,6.6,6.6V28C35.9,38,27.9,46,18,46z"/>
                        <path class="fill-white" d="M17.4,34V18.3h10.2v2.9h-6.4v3.4h4.8v2.9h-4.8V34H17.4z"/>
            </svg>
                    <span class="u-header__navbar-brand-text">Cité De La Culture</span>
                </a>
                <!-- End Logo -->

                <!-- Responsive Toggle Button -->
                <button type="button" class="navbar-toggler btn u-hamburger"
                        aria-label="Toggle navigation"
                        aria-expanded="false"
                        aria-controls="navBar"
                        data-toggle="collapse"
                        data-target="#navBar">
            <span id="hamburgerTrigger" class="u-hamburger__box">
              <span class="u-hamburger__inner"></span>
            </span>
                </button>
                <!-- End Responsive Toggle Button -->

                <!-- Navigation -->
                <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
                    <ul class="navbar-nav u-header__navbar-nav">
                        <!-- Home -->
                        <li class="nav-item hs-has-mega-menu u-header__nav-item"
                            data-event="hover"
                            data-animation-in="slideInUp"
                            data-animation-out="fadeOut"
                            data-position="left">
                            <a id="homeMegaMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false">Actualité</a>

                            <!-- Home - Mega Menu -->
                            <div class="hs-mega-menu w-100 u-header__sub-menu" aria-labelledby="homeMegaMenu">
                                <div class="row no-gutters">
                                    <div class="col-lg-6">
                                        <!-- Banner Image -->
                                        <div class="u-header__banner" style="background-image: url('{{ asset("Front/img/750x750/img1.jpg") }}');">
                                            <div class="u-header__banner-content">
                                                <div class="mb-4">
                                                    <span class="u-header__banner-title">Branding Works</span>
                                                    <p class="u-header__banner-text">Experience a level of our quality in both design &amp; customization works.</p>
                                                </div>
                                                <a class="btn btn-primary btn-sm transition-3d-hover" href="#">Learn More <span class="fas fa-angle-right ml-2"></span></a>
                                            </div>
                                        </div>
                                        <!-- End Banner Image -->
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="row u-header__mega-menu-wrapper">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <span class="u-header__sub-menu-title">Actualité</span>
                                                <ul class="u-header__sub-menu-nav-group mb-3">
                                                    <li><a class="nav-link u-header__sub-menu-nav-link" href="index.html">Classic Agency</a></li>
                                                    <li><a class="nav-link u-header__sub-menu-nav-link" href="classic-business.html">Classic Business</a></li>
                                                    <li><a class="nav-link u-header__sub-menu-nav-link" href="classic-marketing.html">Classic Marketing</a></li>
                                                    <li><a class="nav-link u-header__sub-menu-nav-link" href="classic-consulting.html">Classic Consulting</a></li>
                                                    <li><a class="nav-link u-header__sub-menu-nav-link" href="classic-start-up.html">Classic Start-up</a></li>
                                                </ul>

                                                <span class="u-header__sub-menu-title">Evenement</span>
                                                <ul class="u-header__sub-menu-nav-group">
                                                    <li><a class="nav-link u-header__sub-menu-nav-link" href="corporate-agency.html">Corporate Agency</a></li>
                                                    <li><a class="nav-link u-header__sub-menu-nav-link" href="corporate-start-up.html">Corporate Start-Up</a></li>
                                                    <li><a class="nav-link u-header__sub-menu-nav-link" href="corporate-business.html">Corporate Business</a></li>
                                                </ul>
                                            </div>

                                            <div class="col-sm-6">
                                                <span class="u-header__sub-menu-title">Bibliothéque</span>
                                                <ul class="u-header__sub-menu-nav-group mb-3">
                                                    <li><a class="nav-link u-header__sub-menu-nav-link" href="onepage-creative.html">Onepage Creative</a></li>
                                                    <li><a class="nav-link u-header__sub-menu-nav-link" href="onepage-saas.html">Onepage SaaS</a></li>
                                                </ul>

                                                <span class="u-header__sub-menu-title">Activité</span>
                                                <ul class="u-header__sub-menu-nav-group mb-3">
                                                    <li><a class="nav-link u-header__sub-menu-nav-link" href="blog-agency.html">Blog Agency</a></li>
                                                    <li><a class="nav-link u-header__sub-menu-nav-link" href="blog-start-up.html">Blog Start-Up</a></li>
                                                    <li><a class="nav-link u-header__sub-menu-nav-link" href="blog-business.html">Blog Business</a></li>
                                                </ul>

                                                <span class="u-header__sub-menu-title">Portfolio</span>
                                                <ul class="u-header__sub-menu-nav-group">
                                                    <li><a class="nav-link u-header__sub-menu-nav-link" href="portfolio-agency.html">Portfolio Agency</a></li>
                                                    <li><a class="nav-link u-header__sub-menu-nav-link" href="portfolio-profile.html">Portfolio Profile</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Home - Mega Menu -->
                        </li>
                        <!-- End Home -->

                        <!-- Evenements -->
                        <li class="nav-item hs-has-sub-menu u-header__nav-item"
                            data-event="hover"
                            data-animation-in="slideInUp"
                            data-animation-out="fadeOut">
                            <a id="pagesMegaMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="pagesSubMenu">Evenement</a>

                            <!-- Evenements - Submenu -->
                            <ul id="pagesSubMenu" class="hs-sub-menu u-header__sub-menu" aria-labelledby="pagesMegaMenu" style="min-width: 230px;">
                                {% if((not is_granted("ROLE_ADMIN")) and (app.user is not null)) %}
                                    <!-- Les Evenements -->
                                    <li class="hs-has-sub-menu">
                                        <a id="navLinkPagesAccount" class="nav-link u-header__sub-menu-nav-link" href="{{ path('afficher') }}" aria-haspopup="true" aria-expanded="false" aria-controls="navSubmenuPagesAccount">Evènements</a>
                                    </li>
                                    <li class="hs-has-sub-menu">
                                        <a id="navLinkPagesAccount" class="nav-link u-header__sub-menu-nav-link" href="{{ path('recommander') }}" aria-haspopup="true" aria-expanded="false" aria-controls="navSubmenuPagesAccount">Recommandations</a>
                                    </li>
                                    <!-- End Les Evenements -->
                                <!-- Mes Evenements -->
                                <li class="hs-has-sub-menu">
                                    <a id="navLinkPagesPortfolio" class="nav-link u-header__sub-menu-nav-link u-header__sub-menu-nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-controls="navSubmenuPagesPortfolio">Mes Evenements</a>

                                    <ul id="navSubmenuPagesPortfolio" class="hs-sub-menu u-header__sub-menu" aria-labelledby="navLinkPagesPortfolio" style="min-width: 230px;">
                                        <li><a class="nav-link u-header__sub-menu-nav-link" href="{{ path('ajouter') }}">Ajouter</a></li>
                                        <li><a class="nav-link u-header__sub-menu-nav-link" href="{{ path('afficherOrganisateur') }}">Afficher</a></li>
                                        <li><a class="nav-link u-header__sub-menu-nav-link" href="{{ path('mesStats') }}">Statistiques</a></li>
                                    </ul>
                                </li>
                                <!-- End Mes Evenements -->
                                {% elseif(app.user is not null) %}
                                <!-- Evenements Admin -->
                                <li class="hs-has-sub-menu">
                                    <a id="navLinkPagesAbout" class="nav-link u-header__sub-menu-nav-link" href="{{ path('afficherAdmin') }}" aria-haspopup="true" aria-expanded="false" aria-controls="navSubmenuPagesAbout">Evenements A Valider</a>
                                </li>
                                    <!-- End Evenements Admin -->
                                    <!-- Salles Admin -->
                                    <li class="hs-has-sub-menu">
                                        <a id="navLinkPagesPortfolio" class="nav-link u-header__sub-menu-nav-link" href="{{ path('afficherSalles') }}" aria-haspopup="true" aria-expanded="false" aria-controls="navSubmenuPagesPortfolio">Gestion Des Salles</a>
                                    </li>
                                    {% else %}
                                        <!-- Les Evenements -->
                                        <li class="hs-has-sub-menu">
                                            <a id="navLinkPagesAccount" class="nav-link u-header__sub-menu-nav-link" href="{{ path('afficher') }}" aria-haspopup="true" aria-expanded="false" aria-controls="navSubmenuPagesAccount">Les Evènements</a>
                                        </li>
                                        <!-- End Les Evenements -->
                                {% endif %}
                                <!-- End Salles Admin -->
                            </ul>
                            <!-- End Evenemnts - Submenu -->
                        </li>
                        <!-- End Evenements -->

                        <!-- Blog -->
                        <li class="nav-item hs-has-sub-menu u-header__nav-item"
                            data-event="hover"
                            data-animation-in="slideInUp"
                            data-animation-out="fadeOut">
                            <a id="blogMegaMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="blogSubMenu">Bibliotheque</a>

                            <!-- Blog - Submenu -->
                            <ul id="blogSubMenu" class="hs-sub-menu u-header__sub-menu" aria-labelledby="blogMegaMenu" style="min-width: 230px;">
                                <!-- Classic -->
                                <li class="hs-has-sub-menu">
                                    <a id="navLinkBlogClassic" class="nav-link u-header__sub-menu-nav-link u-header__sub-menu-nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-controls="navSubmenuBlogClassic">Classic</a>

                                    <ul id="navSubmenuBlogClassic" class="hs-sub-menu u-header__sub-menu" aria-labelledby="navLinkBlogClassic" style="min-width: 230px;">
                                        <li><a class="nav-link u-header__sub-menu-nav-link" href="https://htmlstream.com/preview/front-v2.3.0/html/blog/classic-left-sidebar.html">Left Sidebar</a></li>
                                        <li><a class="nav-link u-header__sub-menu-nav-link" href="https://htmlstream.com/preview/front-v2.3.0/html/blog/classic-right-sidebar.html">Right Sidebar</a></li>
                                        <li><a class="nav-link u-header__sub-menu-nav-link" href="https://htmlstream.com/preview/front-v2.3.0/html/blog/classic-full-width.html">Full Width</a></li>
                                    </ul>
                                </li>
                                <!-- Classic -->

                                <!-- Grid -->
                                <li class="hs-has-sub-menu">
                                    <a id="navLinkBlogGrid" class="nav-link u-header__sub-menu-nav-link u-header__sub-menu-nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-controls="navSubmenuBlogGrid">Grid</a>

                                    <ul id="navSubmenuBlogGrid" class="hs-sub-menu u-header__sub-menu" aria-labelledby="navLinkBlogGrid" style="min-width: 230px;">
                                        <li><a class="nav-link u-header__sub-menu-nav-link" href="https://htmlstream.com/preview/front-v2.3.0/html/blog/grid-left-sidebar.html">Left Sidebar</a></li>
                                        <li><a class="nav-link u-header__sub-menu-nav-link" href="https://htmlstream.com/preview/front-v2.3.0/html/blog/grid-right-sidebar.html">Right Sidebar</a></li>
                                        <li><a class="nav-link u-header__sub-menu-nav-link" href="https://htmlstream.com/preview/front-v2.3.0/html/blog/grid-full-width.html">Full Width</a></li>
                                    </ul>
                                </li>
                                <!-- Grid -->

                                <!-- List -->
                                <li class="hs-has-sub-menu">
                                    <a id="navLinkBlogList" class="nav-link u-header__sub-menu-nav-link u-header__sub-menu-nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-controls="navSubmenuBlogList">List</a>

                                    <ul id="navSubmenuBlogList" class="hs-sub-menu u-header__sub-menu" aria-labelledby="navLinkBlogList" style="min-width: 230px;">
                                        <li><a class="nav-link u-header__sub-menu-nav-link" href="https://htmlstream.com/preview/front-v2.3.0/html/blog/list-left-sidebar.html">Left Sidebar</a></li>
                                        <li><a class="nav-link u-header__sub-menu-nav-link" href="https://htmlstream.com/preview/front-v2.3.0/html/blog/list-right-sidebar.html">Right Sidebar</a></li>
                                        <li><a class="nav-link u-header__sub-menu-nav-link" href="https://htmlstream.com/preview/front-v2.3.0/html/blog/list-full-width.html">Full Width</a></li>
                                    </ul>
                                </li>
                                <!-- List -->

                                <!-- Modern -->
                                <li class="hs-has-sub-menu">
                                    <a id="navLinkBlogCard" class="nav-link u-header__sub-menu-nav-link u-header__sub-menu-nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-controls="navSubmenuBlogCard">Modern</a>

                                    <ul id="navSubmenuBlogCard" class="hs-sub-menu u-header__sub-menu" aria-labelledby="navLinkBlogCard" style="min-width: 230px;">
                                        <li><a class="nav-link u-header__sub-menu-nav-link" href="https://htmlstream.com/preview/front-v2.3.0/html/blog/modern-left-sidebar.html">Left Sidebar</a></li>
                                        <li><a class="nav-link u-header__sub-menu-nav-link" href="https://htmlstream.com/preview/front-v2.3.0/html/blog/modern-right-sidebar.html">Right Sidebar</a></li>
                                        <li><a class="nav-link u-header__sub-menu-nav-link" href="https://htmlstream.com/preview/front-v2.3.0/html/blog/modern-full-width.html">Full Width</a></li>
                                    </ul>
                                </li>
                                <!-- Grid Modern -->

                                <!-- Masonry -->
                                <li class="hs-has-sub-menu">
                                    <a id="navLinkBlogGridMinimal" class="nav-link u-header__sub-menu-nav-link u-header__sub-menu-nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-controls="navSubmenuBlogGridMinimal">Masonry</a>

                                    <ul id="navSubmenuBlogGridMinimal" class="hs-sub-menu u-header__sub-menu" aria-labelledby="navLinkBlogGridMinimal" style="min-width: 230px;">
                                        <li><a class="nav-link u-header__sub-menu-nav-link" href="https://htmlstream.com/preview/front-v2.3.0/html/blog/masonry-left-sidebar.html">Left Sidebar</a></li>
                                        <li><a class="nav-link u-header__sub-menu-nav-link" href="https://htmlstream.com/preview/front-v2.3.0/html/blog/masonry-right-sidebar.html">Right Sidebar</a></li>
                                        <li><a class="nav-link u-header__sub-menu-nav-link" href="https://htmlstream.com/preview/front-v2.3.0/html/blog/masonry-full-width.html">Full Width</a></li>
                                    </ul>
                                </li>
                                <!-- Masonry -->

                                <!-- Single Article -->
                                <li class="hs-has-sub-menu">
                                    <a id="navLinkBlogGridMasonry" class="nav-link u-header__sub-menu-nav-link u-header__sub-menu-nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-controls="navSubmenuBlogGridMasonry">Single Article</a>

                                    <ul id="navSubmenuBlogGridMasonry" class="hs-sub-menu u-header__sub-menu" aria-labelledby="navLinkBlogGridMasonry" style="min-width: 230px;">
                                        <li><a class="nav-link u-header__sub-menu-nav-link" href="https://htmlstream.com/preview/front-v2.3.0/html/blog/single-article-classic.html">Classic</a></li>
                                        <li><a class="nav-link u-header__sub-menu-nav-link" href="https://htmlstream.com/preview/front-v2.3.0/html/blog/single-article-simple.html">Simple</a></li>
                                    </ul>
                                </li>
                                <!-- Single Article -->
                            </ul>
                            <!-- End Submenu -->
                        </li>
                        <!-- End Blog -->

                        <!-- Shop -->
                        <li class="nav-item hs-has-mega-menu u-header__nav-item"
                            data-event="hover"
                            data-animation-in="slideInUp"
                            data-animation-out="fadeOut"
                            data-max-width="440px"
                            data-position="right">
                            <a id="shopMegaMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false">Activite</a>

                            <!-- Shop - Mega Menu -->
                            <div class="hs-mega-menu u-header__sub-menu u-header__mega-menu-position-right-fix--md" aria-labelledby="shopMegaMenu">
                                <div class="u-header__mega-menu-wrapper">
                                    <span class="u-header__sub-menu-title">Shop Elements</span>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <ul class="u-header__sub-menu-nav-group">
                                                <li><a class="nav-link u-header__sub-menu-nav-link" href="https://htmlstream.com/preview/front-v2.3.0/html/shop/classic.html">Classic</a></li>
                                                <li><a class="nav-link u-header__sub-menu-nav-link" href="https://htmlstream.com/preview/front-v2.3.0/html/shop/masonry.html">Masonry</a></li>
                                                <li><a class="nav-link u-header__sub-menu-nav-link" href="https://htmlstream.com/preview/front-v2.3.0/html/shop/single-product.html">Single Product</a></li>
                                            </ul>
                                        </div>

                                        <div class="col-sm-6">
                                            <ul class="u-header__sub-menu-nav-group">
                                                <li><a class="nav-link u-header__sub-menu-nav-link" href="https://htmlstream.com/preview/front-v2.3.0/html/shop/cart.html">Cart</a></li>
                                                <li><a class="nav-link u-header__sub-menu-nav-link" href="https://htmlstream.com/preview/front-v2.3.0/html/shop/checkout.html">Checkout</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Mega Menu Banner -->
                                <div class="u-header__product-banner">
                                    <div class="d-flex align-items-end">
                                        <img class="img-fluid mr-4" src="../../assets/img/mockups/img4.png" alt="Image Description">
                                        <div class="u-header__product-banner-content">
                                            <div class="mb-4">
                                                <span class="u-header__product-banner-title">Win T-shirt</span>
                                                <p class="u-header__product-banner-text">Win one of our Front brand T-shirts.</p>
                                            </div>
                                            <a class="btn btn-sm btn-soft-primary transition-3d-hover" href="https://htmlstream.com/preview/front-v2.3.0/html/shop/classic.html">Learn More <span class="fas fa-angle-right ml-2"></span></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Mega Menu Banner -->
                            </div>
                            <!-- End Shop - Mega Menu -->
                        </li>
                        <!-- End Shop -->

                        <!-- Demos -->
                        <li class="nav-item hs-has-mega-menu u-header__nav-item"
                            data-event="hover"
                            data-animation-in="slideInUp"
                            data-animation-out="fadeOut"
                            data-max-width="600px"
                            data-position="right">
                            <a id="demosMegaMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false">Panier</a>

                            <!-- Demos - Mega Menu -->
                            <div class="hs-mega-menu w-100 u-header__sub-menu" aria-labelledby="demosMegaMenu">
                                <div class="row no-gutters">
                                    <div class="col-md-6">
                                        <!-- Promo Item -->
                                        <div class="u-header__promo-item">
                                            <a class="u-header__promo-link" href="https://htmlstream.com/preview/front-v2.3.0/html/house/index.html">
                                                <div class="media align-items-center">
                                                    <img class="js-svg-injector u-header__promo-icon" src="https://htmlstream.com/preview/front-v2.3.0/assets/svg/icons/icon-13.svg" alt="SVG">
                                                    <div class="media-body">
                                                        <span class="u-header__promo-title">House</span>
                                                        <small class="u-header__promo-text">Real estate demo.</small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <!-- End Promo Item -->

                                        <!-- Promo Item -->
                                        <div class="u-header__promo-item">
                                            <a class="u-header__promo-link" href="https://htmlstream.com/preview/front-v2.3.0/html/job/index.html">
                                                <div class="media align-items-center">
                                                    <img class="js-svg-injector u-header__promo-icon" src="https://htmlstream.com/preview/front-v2.3.0/assets/svg/icons/icon-19.svg" alt="SVG">
                                                    <div class="media-body">
                                                        <span class="u-header__promo-title">Job</span>
                                                        <small class="u-header__promo-text">Job vacancy demo.</small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <!-- End Promo Item -->

                                        <!-- Promo Item -->
                                        <div class="u-header__promo-item">
                                            <a class="u-header__promo-link" href="https://htmlstream.com/preview/front-v2.3.0/html/crypto/index.html">
                                                <div class="media align-items-center">
                                                    <img class="js-svg-injector u-header__promo-icon" src="https://htmlstream.com/preview/front-v2.3.0/assets/svg/icons/icon-5.svg" alt="SVG">
                                                    <div class="media-body">
                                                        <span class="u-header__promo-title">Crypto landing</span>
                                                        <small class="u-header__promo-text">Cryptocurrency demo.</small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <!-- End Promo Item -->
                                    </div>

                                    <!-- Promo -->
                                    <div class="col-md-6 u-header__promo">
                                        <a class="d-block u-header__promo-inner" href="#">
                                            <div class="position-relative">
                                                <img class="img-fluid rounded mb-3" src="{{ asset('Front/img/380x227/img6.jpg') }}" alt="Image Description">
                                                <span class="badge badge-success badge-pill badge-pos shadow-sm mt-3">New</span>
                                            </div>
                                            <span class="text-secondary font-size-1">Front makes you look at things from a different perspectives.</span>
                                        </a>
                                    </div>
                                    <!-- End Promo -->
                                </div>
                            </div>
                            <!-- End Demos - Mega Menu -->
                        </li>
                        <!-- End Demos -->

                        <!-- Docs -->
                        <li class="nav-item hs-has-mega-menu u-header__nav-item"
                            data-event="hover"
                            data-animation-in="slideInUp"
                            data-animation-out="fadeOut"
                            data-max-width="260px"
                            data-position="right">
                            <a id="docsMegaMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false">Docs</a>

                            <!-- Docs - Submenu -->
                            <div class="hs-mega-menu u-header__sub-menu" aria-labelledby="docsMegaMenu" style="min-width: 330px;">
                                <!-- Promo Item -->
                                <div class="u-header__promo-item">
                                    <a class="u-header__promo-link" href="https://htmlstream.com/preview/front-v2.3.0/documentation/index.html">
                                        <div class="media align-items-center">
                                            <img class="js-svg-injector u-header__promo-icon" src="https://htmlstream.com/preview/front-v2.3.0/assets/svg/icons/icon-2.svg" alt="SVG">
                                            <div class="media-body">
                          <span class="u-header__promo-title">
                            Documentation
                            <span class="badge badge-primary badge-pill ml-1">v2.3</span>
                          </span>
                                                <small class="u-header__promo-text">Development guides</small>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- End Promo Item -->

                                <!-- Promo Item -->
                                <div class="u-header__promo-item">
                                    <a class="u-header__promo-link" href="https://htmlstream.com/preview/front-v2.3.0/starter/index.html">
                                        <div class="media align-items-center">
                                            <img class="js-svg-injector u-header__promo-icon" src="https://htmlstream.com/preview/front-v2.3.0/assets/svg/icons/icon-1.svg" alt="SVG">
                                            <div class="media-body">
                                                <span class="u-header__promo-title">Get started</span>

                                                <small class="u-header__promo-text">Components and snippets</small>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- End Promo Item -->

                                <div class="u-header__promo-footer">
                                    <!-- List -->
                                    <div class="row no-gutters">
                                        <div class="col-6">
                                            <div class="u-header__promo-footer-item">
                                                <small class="text-muted d-block">Check what's new</small>
                                                <a class="small" href="https://htmlstream.com/preview/front-v2.3.0/documentation/getting-started/changelog.html">
                                                    Changelog
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-6 u-header__promo-footer-ver-divider">
                                            <div class="u-header__promo-footer-item">
                                                <small class="text-muted d-block">Have a question?</small>
                                                <a class="small" href="http://htmlstream.com/contact-us">
                                                    Contact us
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End List -->
                                </div>
                            </div>
                            <!-- End Docs - Submenu -->
                        </li>
                        <!-- End Docs -->

                        <!-- Button -->

                        <!-- End Button -->
                    </ul>
                </div>
                <!-- End Navigation -->
            </nav>
            <!-- End Nav -->
        </div>
    </div>
</header
{% endblock %}

{% block body %}

        {# ========== MAIN CONTENT ========== #}

    <main id="content" role="main">
        <!-- Hero Section -->

        {% block content %}
        {% endblock %}

    </main>
<!-- ========== END MAIN CONTENT ========== -->

<!-- ========== FOOTER ========== -->
<footer>
    <!-- Lists -->
    <div class="border-bottom">
        <div class="container space-2">
            <div class="row justify-content-md-between">
                <div class="col-sm-4 col-lg-2 mb-4 mb-lg-0">
                    <h4 class="h6 font-weight-semi-bold">About</h4>

                    <!-- List Group -->
                    <ul class="list-group list-group-flush list-group-borderless mb-0">
                        <li><a class="list-group-item list-group-item-action" href="https://htmlstream.com/preview/front-v2.3.0/html/pages/about-agency.html">About</a></li>
                        <li><a class="list-group-item list-group-item-action" href="https://htmlstream.com/preview/front-v2.3.0/html/pages/services-agency.html">Services</a></li>
                        <li><a class="list-group-item list-group-item-action" href="https://htmlstream.com/preview/front-v2.3.0/html/pages/careers.html">Careers</a></li>
                    </ul>
                    <!-- End List Group -->
                </div>

                <div class="col-sm-4 col-lg-2 mb-4 mb-lg-0">
                    <h4 class="h6 font-weight-semi-bold">Account</h4>

                    <!-- List Group -->
                    <ul class="list-group list-group-flush list-group-borderless mb-0">
                        <li><a class="list-group-item list-group-item-action" href="https://htmlstream.com/preview/front-v2.3.0/html/account/dashboard.html">Account</a></li>
                        <li><a class="list-group-item list-group-item-action" href="https://htmlstream.com/preview/front-v2.3.0/html/account/my-tasks.html">My tasks</a></li>
                        <li><a class="list-group-item list-group-item-action" href="https://htmlstream.com/preview/front-v2.3.0/html/account/projects.html">Projects</a></li>
                    </ul>
                    <!-- End List Group -->
                </div>

                <div class="col-sm-4 col-lg-2 mb-4 mb-lg-0">
                    <h4 class="h6 font-weight-semi-bold">Resources</h4>

                    <!-- List Group -->
                    <ul class="list-group list-group-flush list-group-borderless mb-0">
                        <li><a class="list-group-item list-group-item-action" href="https://htmlstream.com/preview/front-v2.3.0/html/pages/help.html">Help</a></li>
                        <li><a class="list-group-item list-group-item-action" href="https://htmlstream.com/preview/front-v2.3.0/html/pages/terms.html">Terms</a></li>
                        <li><a class="list-group-item list-group-item-action" href="https://htmlstream.com/preview/front-v2.3.0/html/pages/privacy.html">Privacy</a></li>
                    </ul>
                    <!-- End List Group -->
                </div>

                <div class="col-md-6 col-lg-4">
                    <h4 class="h6 font-weight-semi-bold mb-4">We are driven to deliver results for all your businesses.</h4>

                    <!-- Button -->
                    <button type="button" class="btn btn-xs btn-dark btn-wide transition-3d-hover text-left mb-2 mr-1">
              <span class="media align-items-center">
                <span class="fab fa-apple fa-2x mr-3"></span>
                <span class="media-body">
                  <span class="d-block">Download on the</span>
                  <strong class="font-size-1">App Store</strong>
                </span>
              </span>
                    </button>
                    <!-- End Button -->

                    <!-- Button -->
                    <button type="button" class="btn btn-xs btn-dark btn-wide transition-3d-hover text-left mb-2">
              <span class="media align-items-center">
                <span class="fab fa-google-play fa-2x mr-3"></span>
                <span class="media-body">
                  <span class="d-block">Get it on</span>
                  <strong class="font-size-1">Google Play</strong>
                </span>
              </span>
                    </button>
                    <!-- End Button -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Lists -->

    <!-- Copyright -->
    <div class="container text-center space-1">
        <!-- Logo -->
        <a class="d-inline-flex align-items-center mb-2" href="index.html" aria-label="Front">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="36px" height="36px" viewBox="0 0 46 46" xml:space="preserve" style="margin-bottom: 0;">
          <path fill="#3F7DE0" opacity=".65" d="M23,41L23,41c-9.9,0-18-8-18-18v0c0-9.9,8-18,18-18h11.3C38,5,41,8,41,11.7V23C41,32.9,32.9,41,23,41z"/>
                <path class="fill-info" opacity=".5" d="M28,35.9L28,35.9c-9.9,0-18-8-18-18v0c0-9.9,8-18,18-18l11.3,0C43,0,46,3,46,6.6V18C46,27.9,38,35.9,28,35.9z"/>
                <path class="fill-primary" opacity=".7" d="M18,46L18,46C8,46,0,38,0,28v0c0-9.9,8-18,18-18h11.3c3.7,0,6.6,3,6.6,6.6V28C35.9,38,27.9,46,18,46z"/>
                <path class="fill-white" d="M17.4,34V18.3h10.2v2.9h-6.4v3.4h4.8v2.9h-4.8V34H17.4z"/>
        </svg>
            <span class="brand brand-primary">Front</span>
        </a>
        <!-- End Logo -->
        <p class="small text-muted">&copy; Front. 2018 Htmlstream. All rights reserved.</p>
    </div>
    <!-- End Copyright -->
</footer>
<!-- ========== END FOOTER ========== -->

<!-- ========== SECONDARY CONTENTS ========== -->
<!-- Account Sidebar Navigation -->
<aside id="sidebarContent" class="u-sidebar" aria-labelledby="sidebarNavToggler">
    <div class="u-sidebar__scroller">
        <div class="u-sidebar__container">
            <div class="u-header-sidebar__footer-offset">
                <!-- Toggle Button -->
                <div class="d-flex align-items-center pt-4 px-7">
                    <button type="button" class="close ml-auto"
                            aria-controls="sidebarContent"
                            aria-haspopup="true"
                            aria-expanded="false"
                            data-unfold-event="click"
                            data-unfold-hide-on-scroll="false"
                            data-unfold-target="#sidebarContent"
                            data-unfold-type="css-animation"
                            data-unfold-animation-in="fadeInRight"
                            data-unfold-animation-out="fadeOutRight"
                            data-unfold-duration="500">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- End Toggle Button -->

                <!-- Content -->
                <div class="js-scrollbar u-sidebar__body">
                    <div class="u-sidebar__content u-header-sidebar__content">
                        <form class="js-validate">
                            <!-- Login -->
                            <div id="login" data-target-group="idForm">
                                <!-- Title -->
                                <header class="text-center mb-7">
                                    <h2 class="h4 mb-0">Welcome Back!</h2>
                                    <p>Login to manage your account.</p>
                                </header>
                                <!-- End Title -->

                                <!-- Form Group -->
                                <div class="form-group">
                                    <div class="js-form-message js-focus-state">
                                        <label class="sr-only" for="signinEmail">Email</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                          <span class="input-group-text" id="signinEmailLabel">
                            <span class="fas fa-user"></span>
                          </span>
                                            </div>
                                            <input type="email" class="form-control" name="email" id="signinEmail" placeholder="Email" aria-label="Email" aria-describedby="signinEmailLabel" required
                                                   data-msg="Please enter a valid email address."
                                                   data-error-class="u-has-error"
                                                   data-success-class="u-has-success">
                                        </div>
                                    </div>
                                </div>
                                <!-- End Form Group -->

                                <!-- Form Group -->
                                <div class="form-group">
                                    <div class="js-form-message js-focus-state">
                                        <label class="sr-only" for="signinPassword">Password</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                          <span class="input-group-text" id="signinPasswordLabel">
                            <span class="fas fa-lock"></span>
                          </span>
                                            </div>
                                            <input type="password" class="form-control" name="password" id="signinPassword" placeholder="Password" aria-label="Password" aria-describedby="signinPasswordLabel" required
                                                   data-msg="Your password is invalid. Please try again."
                                                   data-error-class="u-has-error"
                                                   data-success-class="u-has-success">
                                        </div>
                                    </div>
                                </div>
                                <!-- End Form Group -->

                                <div class="d-flex justify-content-end mb-4">
                                    <a class="js-animation-link small link-muted" href="javascript:;"
                                       data-target="#forgotPassword"
                                       data-link-group="idForm"
                                       data-animation-in="slideInUp">Forgot Password?</a>
                                </div>

                                <div class="mb-2">
                                    <button type="submit" class="btn btn-block btn-sm btn-primary transition-3d-hover">Login</button>
                                </div>

                                <div class="text-center mb-4">
                                    <span class="small text-muted">Do not have an account?</span>
                                    <a class="js-animation-link small" href="javascript:;"
                                       data-target="#signup"
                                       data-link-group="idForm"
                                       data-animation-in="slideInUp">Signup
                                    </a>
                                </div>

                                <div class="text-center">
                                    <span class="u-divider u-divider--xs u-divider--text mb-4">OR</span>
                                </div>

                                <!-- Login Buttons -->
                                <div class="d-flex">
                                    <a class="btn btn-block btn-sm btn-soft-facebook transition-3d-hover mr-1" href="#">
                                        <span class="fab fa-facebook-square mr-1"></span>
                                        Facebook
                                    </a>
                                    <a class="btn btn-block btn-sm btn-soft-google transition-3d-hover ml-1 mt-0" href="#">
                                        <span class="fab fa-google mr-1"></span>
                                        Google
                                    </a>
                                </div>
                                <!-- End Login Buttons -->
                            </div>

                            <!-- Signup -->
                            <div id="signup" style="display: none; opacity: 0;" data-target-group="idForm">
                                <!-- Title -->
                                <header class="text-center mb-7">
                                    <h2 class="h4 mb-0">Welcome to Front.</h2>
                                    <p>Fill out the form to get started.</p>
                                </header>
                                <!-- End Title -->

                                <!-- Form Group -->
                                <div class="form-group">
                                    <div class="js-form-message js-focus-state">
                                        <label class="sr-only" for="signupEmail">Email</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                          <span class="input-group-text" id="signupEmailLabel">
                            <span class="fas fa-user"></span>
                          </span>
                                            </div>
                                            <input type="email" class="form-control" name="email" id="signupEmail" placeholder="Email" aria-label="Email" aria-describedby="signupEmailLabel" required
                                                   data-msg="Please enter a valid email address."
                                                   data-error-class="u-has-error"
                                                   data-success-class="u-has-success">
                                        </div>
                                    </div>
                                </div>
                                <!-- End Input -->

                                <!-- Form Group -->
                                <div class="form-group">
                                    <div class="js-form-message js-focus-state">
                                        <label class="sr-only" for="signupPassword">Password</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                          <span class="input-group-text" id="signupPasswordLabel">
                            <span class="fas fa-lock"></span>
                          </span>
                                            </div>
                                            <input type="password" class="form-control" name="password" id="signupPassword" placeholder="Password" aria-label="Password" aria-describedby="signupPasswordLabel" required
                                                   data-msg="Your password is invalid. Please try again."
                                                   data-error-class="u-has-error"
                                                   data-success-class="u-has-success">
                                        </div>
                                    </div>
                                </div>
                                <!-- End Input -->

                                <!-- Form Group -->
                                <div class="form-group">
                                    <div class="js-form-message js-focus-state">
                                        <label class="sr-only" for="signupConfirmPassword">Confirm Password</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                          <span class="input-group-text" id="signupConfirmPasswordLabel">
                            <span class="fas fa-key"></span>
                          </span>
                                            </div>
                                            <input type="password" class="form-control" name="confirmPassword" id="signupConfirmPassword" placeholder="Confirm Password" aria-label="Confirm Password" aria-describedby="signupConfirmPasswordLabel" required
                                                   data-msg="Password does not match the confirm password."
                                                   data-error-class="u-has-error"
                                                   data-success-class="u-has-success">
                                        </div>
                                    </div>
                                </div>
                                <!-- End Input -->

                                <div class="mb-2">
                                    <button type="submit" class="btn btn-block btn-sm btn-primary transition-3d-hover">Get Started</button>
                                </div>

                                <div class="text-center mb-4">
                                    <span class="small text-muted">Already have an account?</span>
                                    <a class="js-animation-link small" href="javascript:;"
                                       data-target="#login"
                                       data-link-group="idForm"
                                       data-animation-in="slideInUp">Login
                                    </a>
                                </div>

                                <div class="text-center">
                                    <span class="u-divider u-divider--xs u-divider--text mb-4">OR</span>
                                </div>

                                <!-- Login Buttons -->
                                <div class="d-flex">
                                    <a class="btn btn-block btn-sm btn-soft-facebook transition-3d-hover mr-1" href="#">
                                        <span class="fab fa-facebook-square mr-1"></span>
                                        Facebook
                                    </a>
                                    <a class="btn btn-block btn-sm btn-soft-google transition-3d-hover ml-1 mt-0" href="#">
                                        <span class="fab fa-google mr-1"></span>
                                        Google
                                    </a>
                                </div>
                                <!-- End Login Buttons -->
                            </div>
                            <!-- End Signup -->

                            <!-- Forgot Password -->
                            <div id="forgotPassword" style="display: none; opacity: 0;" data-target-group="idForm">
                                <!-- Title -->
                                <header class="text-center mb-7">
                                    <h2 class="h4 mb-0">Recover Password.</h2>
                                    <p>Enter your email address and an email with instructions will be sent to you.</p>
                                </header>
                                <!-- End Title -->

                                <!-- Form Group -->
                                <div class="form-group">
                                    <div class="js-form-message js-focus-state">
                                        <label class="sr-only" for="recoverEmail">Your email</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                          <span class="input-group-text" id="recoverEmailLabel">
                            <span class="fas fa-user"></span>
                          </span>
                                            </div>
                                            <input type="email" class="form-control" name="email" id="recoverEmail" placeholder="Your email" aria-label="Your email" aria-describedby="recoverEmailLabel" required
                                                   data-msg="Please enter a valid email address."
                                                   data-error-class="u-has-error"
                                                   data-success-class="u-has-success">
                                        </div>
                                    </div>
                                </div>
                                <!-- End Form Group -->

                                <div class="mb-2">
                                    <button type="submit" class="btn btn-block btn-sm btn-primary transition-3d-hover">Recover Password</button>
                                </div>

                                <div class="text-center mb-4">
                                    <span class="small text-muted">Remember your password?</span>
                                    <a class="js-animation-link small" href="javascript:;"
                                       data-target="#login"
                                       data-link-group="idForm"
                                       data-animation-in="slideInUp">Login
                                    </a>
                                </div>
                            </div>
                            <!-- End Forgot Password -->
                        </form>
                    </div>
                </div>
                <!-- End Content -->
            </div>

            <!-- Footer -->
            <footer id="SVGwaveWithDots" class="svg-preloader u-sidebar__footer u-sidebar__footer--account">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item pr-3">
                        <a class="u-sidebar__footer--account__text" href="https://htmlstream.com/preview/front-v2.3.0/html/pages/privacy.html">Privacy</a>
                    </li>
                    <li class="list-inline-item pr-3">
                        <a class="u-sidebar__footer--account__text" href="https://htmlstream.com/preview/front-v2.3.0/html/pages/terms.html">Terms</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="u-sidebar__footer--account__text" href="https://htmlstream.com/preview/front-v2.3.0/html/pages/help.html">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </li>
                </ul>

                <!-- SVG Background Shape -->
                <div class="position-absolute right-0 bottom-0 left-0">
                    <img class="js-svg-injector" src="https://htmlstream.com/preview/front-v2.3.0/assets/svg/components/wave-bottom-with-dots.svg" alt="Image Description"
                         data-parent="#SVGwaveWithDots">
                </div>
                <!-- End SVG Background Shape -->
            </footer>
            <!-- End Footer -->
        </div>
    </div>
</aside>
<!-- End Account Sidebar Navigation -->
<!-- ========== END SECONDARY CONTENTS ========== -->

<!-- Go to Top -->
<a class="js-go-to u-go-to" href="#"
   data-position='{"bottom": 15, "right": 15 }'
   data-type="fixed"
   data-offset-top="400"
   data-compensation="#header"
   data-show-effect="slideInUp"
   data-hide-effect="slideOutDown">
    <span class="fas fa-arrow-up u-go-to__inner"></span>
</a>




{% endblock %}
{% block javascripts %}
<!-- JS Global Compulsory -->
<script src="{{ asset('Front/vendor/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('Front/vendor/jquery-migrate/dist/jquery-migrate.min.js') }}"></script>
<script src="{{ asset('Front/vendor/popper.js/dist/umd/popper.min.js') }}"></script>
<script src="{{ asset('Front/vendor/bootstrap/bootstrap.min.js') }}"></script>

<!-- JS Implementing Plugins -->
<script src="{{ asset('Front/vendor/hs-megamenu/src/hs.megamenu.js') }}"></script>
<script src="{{ asset('Front/vendor/svg-injector/dist/svg-injector.min.js') }}"></script>
    <script src="{{ asset('Front/vendor/appear.js') }}"></script>
<script src="{{ asset('Front/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js') }}"></script>
<script src="{{ asset('Front/vendor/jquery-validation/dist/jquery.validate.min.js') }}"></script>
<script src="{{ asset('Front/vendor/fancybox/jquery.fancybox.min.js') }}"></script>
<script src="{{ asset('Front/vendor/typed.js/lib/typed.min.js') }}"></script>
<script src="{{ asset('Front/vendor/slick-carousel/slick/slick.js') }}"></script>

<!-- JS Front -->
<script src="{{ asset('Front/js/hs.core.js') }}"></script>
<script src="{{ asset('Front/js/components/hs.header.js') }}"></script>
<script src="{{ asset('Front/js/components/hs.unfold.js') }}"></script>
<script src="{{ asset('Front/js/components/hs.focus-state.js') }}"></script>
<script src="{{ asset('Front/js/components/hs.malihu-scrollbar.js') }}"></script>
<script src="{{ asset('Front/js/components/hs.validation.js') }}"></script>
<script src="{{ asset('Front/js/components/hs.fancybox.js') }}"></script>
<script src="{{ asset('Front/js/components/hs.slick-carousel.js') }}"></script>
<script src="{{ asset('Front/js/components/hs.show-animation.js') }}"></script>
<script src="{{ asset('Front/js/components/hs.svg-injector.js') }}"></script>
    <script src="{{ asset('Front/js/components/hs.scroll-nav.js') }}"></script>
<script src="{{ asset('Front/js/components/hs.go-to.js') }}"></script>

<!-- JS Plugins Init. -->
<script>
    $(window).on('load', function () {
        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
            event: 'hover',
            pageContainer: $('.container'),
            breakpoint: 767.98,
            hideTimeOut: 0
        });

        // initialization of svg injector module
        $.HSCore.components.HSSVGIngector.init('.js-svg-injector');
        // initialization of HSScrollNav component
        $.HSCore.components.HSScrollNav.init($('.js-scroll-nav'), {
            duration: 700
        });
    });

    $(document).on('ready', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#header'));

        // initialization of unfold component
        $.HSCore.components.HSUnfold.init($('[data-unfold-target]'), {
            afterOpen: function () {
                $(this).find('input[type="search"]').focus();
            }
        });

        // initialization of malihu scrollbar
        $.HSCore.components.HSMalihuScrollBar.init($('.js-scrollbar'));

        // initialization of forms
        $.HSCore.components.HSFocusState.init();

        // initialization of form validation
        $.HSCore.components.HSValidation.init('.js-validate', {
            rules: {
                confirmPassword: {
                    equalTo: '#signupPassword'
                }
            }
        });

        // initialization of show animations
        $.HSCore.components.HSShowAnimation.init('.js-animation-link');

        // initialization of fancybox
        $.HSCore.components.HSFancyBox.init('.js-fancybox');

        // initialization of text animation (typing)
        var typed = new Typed(".u-text-animation.u-text-animation--typing", {
            strings: ["Impressionnant.", "Stupéfiant.", "Grandiose."],
            typeSpeed: 60,
            loop: true,
            backSpeed: 25,
            backDelay: 1500
        });

        // initialization of slick carousel
        $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');

        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');
    });
</script>

{% endblock %}

</body>
</html>
