{% extends 'front.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
    <div class="d-lg-flex position-relative">
        <div class="container d-lg-flex align-items-lg-center space-top-2 space-top-md-5 space-lg-0 min-height-lg-100vh">
            <!-- Content -->

            <div>
                <br><br><br><br><br><br><br>
                <h2>Afficher Les Evènements</h2>
                <div class="form-group form-inline">
                    <label for="recherche" class="col-md-3">Recherche</label>
                    <input type="text" class="form-control col-md-7" onkeyup="rechercher()" id="recherche">
                </div>
                <br>
                <div class="card-sm-columns" style="width: 800px;">
                {% for e in events %}
                        <div class="card text-center border-dark mb-11" style="width: 21rem; margin-left: 20px; margin-right: 20px;
                        {% if(e.type=='film') %} background-color : #3F51B5;
                        {% elseif(e.type=='theatre') %} background-color : #7986CB;
                        {% elseif(e.type=='formation') %} background-color : #303F9F;
                        {% elseif(e.type=='festival') %} background-color : #536DFE;
                        {% elseif(e.type=='musique') %} background-color : #304FFE;
                        {% elseif(e.type=='expose') %} background-color : #5C6BC0;
                        {% endif %} ">
                            <div class="card-img-top" style="position: relative; height: 200px">
                                <a href="afficherEvenement/{{ e.id }}"><img src="{{ asset("getImage.php?file="~e.img) }}" alt="{{ e.img }}" style="width: 100%; height :100%;"></a>
                                <div style="position: absolute; opacity: 0.95; height: 100%; width: 35%;  bottom: 0;  right: 0; text-align: center;  padding-left: 10px;  padding-right: 10px; {% if(e.type=='film') %} background-color : #3F51B5;
                                {% elseif(e.type=='theatre') %} background-color : #7986CB;
                                {% elseif(e.type=='formation') %} background-color : #303F9F;
                                {% elseif(e.type=='festival') %} background-color : #536DFE;
                                {% elseif(e.type=='musique') %} background-color : #304FFE;
                                {% elseif(e.type=='expose') %} background-color : #5C6BC0;
                                {% endif %} ">
                                    <p style="color: white; font-size: 17px; padding-top: 30px;padding-bottom: 0">PRIX : {{ e.prix }} DT</p>
                                    <i class="fa fa-ticket fa-3x" style="color: white;"></i>
                                    <p style="color: white; font-size: 11px; padding-top: 10px;">(PRIX POUR LES ETUDIANTS : {{ e.prixEtudiants }} DT)</p>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title" style="color: white">{{ e.type }} : {{ e.nom }}</h5>
                                <h6 class="card-subtitle mb-2" style="color: black">{{ e.salle.nom }}</h6>
                                <div class="card-text" style="color: navajowhite; height: 55px; overflow: hidden; text-overflow:ellipsis; font-size: 12px">{{ e.description }}</div>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item-warning" style="text-align : left; color: black">&nbsp;<i class="fa fa-clock"></i>&nbsp; Debut : {{ e.dateDebut|date }}</li>
                                <li class="list-group-item-warning" style="text-align : left; color: black">&nbsp;<i class="fa fa-clock" style="color: grey"></i>&nbsp; Fin : {{ e.dateFin|date }}</li>
                            </ul>
                            {% if app.user is not null and date(e.dateDebut) > date("now") %}
                            <div class="card-body">
                                <a href="#aaaa" class="btn btn-indigo"><i class="fa fa-shopping-cart"></i> Participer</a>
                            </div>
                            {% elseif app.user is not null %}
                                <div class="card-body">
                                    <button disabled="disabled" href="#aaaa" class="btn btn-indigo"><i class="fa fa-shopping-cart"></i> Participer</button>
                                </div>
                            {% endif %}
                        </div>
                {% endfor %}
                </div>
            </div>
            <div style="width: 400px">
                <h4>Recommandations</h4>
                {% if rec|length > 0 %}
                    <a href="{{ path('recommander') }}">Afficher tout</a>
                {% for r in rec %}
                <a href="{{ path('afficherEvenement', {'id': r.id}) }}">
                    <div class="card text-white bg-secondary mb-3" style="width: 16rem; height: 10rem; padding: 5px;">
                        <img class="card-img-top" style="opacity: 0.5; height: 100%; height: 100%;" src="{{ asset("getImage.php?file="~r.img) }}" alt="Card image">
                        <div class="card-img-overlay text-center">
                            <h4 class="card-title">{{ r.nom }}</h4>
                        </div>
                    </div>
                </a>
                {% endfor %}
                {% elseif app.user is null %}
                    <p>Vous devez être connecté pour voir les recommendations</p>
                {% else %}
                    <a href="{{ path('recommander') }}">Afficher tout</a>
                    <p>Vous n'avez pas des recommendations</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
    function rechercher()
    {
        $.ajax({
            url: "{{ path('evenement_list_arechercher') }}",
            type: "GET",
            dataType: "JSON",
            data: {
                rech: $("#recherche").val()
            },
            success: function (evenements) {
                var cardColmuns = $(".card-sm-columns");

                cardColmuns.html('');

                $.each(evenements, function (key, ev) {
                    var bg = "#3F51B5";
                    if (ev.type === 'film') {
                        bg = "#3F51B5;";
                    }
                    if (ev.type === 'theatre') {
                        bg = "#7986CB;";
                    }
                    if (ev.type === 'festival') {
                        bg = "#536DFE;";
                    }
                    if (ev.type === 'formation') {
                        bg = "#303F9F;";
                    }
                    if (ev.type === 'expose') {
                        bg = "#5C6BC0;";
                    }
                    if (ev.type === 'musique') {
                        bg = "#304FFE;";
                    }
                    var bool = "";
                    if(Date.parse(ev.dateDebut) < Date.now())
                    {
                        bool = "disabled";
                    }
                    cardColmuns.append('<div class="card text-center border-dark mb-11" style="width: 21rem; margin-left: 20px; margin-right: 20px; display: inline-block;\n' +
                        ' background-color : ' + bg + '"><div class="card-img-top" style="position: relative; height: 200px">\n' +
                        '<a href="http://localhost/PiDev/web/app_dev.php/evenement/afficherEvenement/' + ev.id + '"><img src="http://localhost/PiDev/web/getImage.php?file=' + ev.img + '" alt="' + ev.img + '" style="width: 100%; height :100%;"></a>\n' +
                        '<div style="position: absolute; opacity: 0.95; height: 100%; width: 35%;  bottom: 0;  right: 0; text-align: center;  padding-left: 10px;  padding-right: 10px; ' +
                        ' background-color : ' + bg + '">\n' +
                        '                                    <p style="color: white; font-size: 17px; padding-top: 30px;padding-bottom: 0">PRIX : ' + ev.prix + ' DT</p>\n' +
                        '                                    <i class="fa fa-ticket fa-3x" style="color: white;"></i>\n' +
                        '                                    <p style="color: white; font-size: 11px; padding-top: 10px;">(PRIX POUR LES ETUDIANTS : ' + ev.prixEtudiants + ' DT)</p>\n' +
                        '                                </div>\n' +
                        '                            </div>\n' +
                        '                            <div class="card-body">\n' +
                        '                                <h5 class="card-title" style="color: white">' + ev.type + ' : ' + ev.nom + '</h5>\n' +
                        '                                <h6 class="card-subtitle mb-2" style="color: black">' + ev.salle + '</h6>\n' +
                        '                                <div class="card-text" style="color: navajowhite; height: 55px; overflow: hidden; text-overflow:ellipsis; font-size: 12px">' + ev.description + '</div>\n' +
                        '                            </div>\n' +
                        '                            <ul class="list-group list-group-flush">\n' +
                        '                                <li class="list-group-item-warning" style="text-align : left; color: black">&nbsp;<i class="fa fa-clock"></i>&nbsp; Debut : ' + ev.dateDebut + '</li>\n' +
                        '                                <li class="list-group-item-warning" style="text-align : left; color: black">&nbsp;<i class="fa fa-clock" style="color: grey"></i>&nbsp; Fin : ' + ev.dateFin + '</li>\n' +
                        '                            </ul>\n' +
                                    {% if app.user is not null %}
                        '                            <div class="card-body">\n' +
                        '                                <button href="#aaaa" '+bool+' class="btn btn-indigo"><i class="fa fa-shopping-cart"></i> Participer</button>\n' +
                        '                            </div>\n' +
                                    {% endif %}
                        '                        </div>');

                });
            },
            error: function (err) {

            }
        });
    }
</script>
{% endblock %}