{% extends 'front.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="d-lg-flex position-relative">
        <div class="container d-lg-flex align-items-lg-center space-top-2 space-top-md-5 space-lg-0 min-height-lg-auto">
            <!-- Content -->

            <div>
                <br><br><br><br><br>{{ socialLink('facebook') }}
                <h2 style="text-align: center;{% if(e.type=='film') %} color : #3F51B5;
                {% elseif(e.type=='theatre') %} color : #7986CB;
                {% elseif(e.type=='formation') %} color : #303F9F;
                {% elseif(e.type=='festival') %} color : #536DFE;
                {% elseif(e.type=='musique') %} color : #304FFE;
                {% elseif(e.type=='expose') %} color : #5C6BC0;
                    {% endif %} "><b>{{ e.type|upper }} : {{ e.nom }}</b> {% if(e.user==app.user) %}({{ e.etat|replace('_',' ')|upper }}){% endif %}</h2>
                <br>
                <div style="position: relative; height: 400px; width: 1000px">
                    <img src="{{ asset("getImage.php?file="~e.img) }}" alt="{{ e.img }}" style="width: 80%; height :100%;">
                    <div style="position: absolute; opacity: 0.95; height: 100%; width: 20%;  bottom: 0;  right: 0; text-align: center;  padding-left: 10px;  padding-right: 10px; {% if(e.type=='film') %} background-color : #3F51B5;
                    {% elseif(e.type=='theatre') %} background-color : #7986CB;
                    {% elseif(e.type=='formation') %} background-color : #303F9F;
                    {% elseif(e.type=='festival') %} background-color : #536DFE;
                    {% elseif(e.type=='musique') %} background-color : #304FFE;
                    {% elseif(e.type=='expose') %} background-color : #5C6BC0;
                    {% endif %} ">
                        <p style="color: white; font-size: 27px; padding-top: 60px;padding-bottom: 0">PRIX : {{ e.prix }} DT</p>
                        <i class="fa fa-ticket fa-4x" style="color: white;"></i>
                        <p style="color: white; font-size: 21px; padding-top: 20px;">(PRIX POUR LES ETUDIANTS : {{ e.prixEtudiants }} DT)</p>
                        <p style="color: white; font-size: 16px; padding-top: 20px;">{{ e.disponibles }} Places Diponibles</p>
                    </div>
                    <div style="position: absolute; opacity: 1; height: 12%; width: 30%;  top: 0;  right: 45%; text-align: center; display: flex;  padding-left: 10px;  padding-right: 10px; background-color : black;">
                        <h4 style="color: #e3cf7a; padding: 15px; padding-top: 6px;">Note Moyenne: </h4>
                        <h4 style="color: #e3cf7a; padding: 15px; padding-top: 6px;" id="noteMoy">{{ noteMoyenne }}</h4>
                    </div>
                </div>
                <p style="{% if(e.type=='film') %} color : #3F51B5;
                {% elseif(e.type=='theatre') %} color : #7986CB;
                {% elseif(e.type=='formation') %} color : #303F9F;
                {% elseif(e.type=='festival') %} color : #536DFE;
                {% elseif(e.type=='musique') %} color : #304FFE;
                {% elseif(e.type=='expose') %} color : #5C6BC0;
                    {% endif %} font-size: 30px">{{ e.salle.nom }}</p>
                <p style="color:rebeccapurple; font-size: 22px">{{ e.age|upper|replace('_',' ') }}</p>
                <div style="display: flex">
                    <i class="fa fa-clock fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <p style="color: black;font-size: 20px">{{ e.dateDebut|date }}</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-arrow-right fa-2x" ></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <p style="color: black;font-size: 20px">{{ e.dateFin|date }}</p>
                </div>
                {% if(form is defined and not is_granted("ROLE_ADMIN") and app.user is not null) %}
                <fieldset style="width: 1000px">
                    <legend>Votre évaluation</legend>
                    <p>{{ form_start(form) }} {{ form_widget(form.note) }} {{ form_end(form) }}</p>
                </fieldset>
                {% endif %}
                <fieldset style="width: 1000px">
                    <legend>Description</legend>
                    <p style="color: black; padding: 15px">{{ e.description }}</p>
                </fieldset>
                <fieldset style="width: 1000px">
                    <legend>Information additionnelle</legend>
                    {% if(e.type=="film") %}
                        <p style="color: black; padding-left: 16px">Acteurs : {{ ep.acteurs }}</p>
                        <p style="color: black; padding-left: 16px">Realisateurs : {{ ep.realisateurs }}</p>
                        <p style="color: black; padding-left: 16px">Duree : {{ ep.duree }}</p>
                        <p style="color: black; padding-left: 16px">Genre : {{ ep.genre }}</p>
                        <p style="color: black; padding-left: 16px">Anneee De Sortie : {{ ep.anneeSortie|date('d M Y') }}</p>
                    {% elseif(e.type=="theatre") %}
                        <p style="color: black; padding-left: 16px">Artistes : {{ ep.artistes }}</p>
                        <p style="color: black; padding-left: 16px">Realisateurs : {{ ep.realisateurs }}</p>
                        <p style="color: black; padding-left: 16px">Auteurs : {{ ep.auteurs }}</p>
                        <p style="color: black; padding-left: 16px">Genre : {{ ep.genre }}</p>
                        <p style="color: black; padding-left: 16px">Anneee De Sortie : {{ ep.anneeSortie|date('d M Y') }}</p>
                    {% elseif(e.type=="festival") %}
                        <p style="color: black; padding-left: 16px">Participants : {{ ep.participants }}</p>
                        <p style="color: black; padding-left: 16px">Type : {{ ep.typeFestival }}</p>
                        <p style="color: black; padding-left: 16px">Genre : {{ ep.genreFestival }}</p>
                    {% elseif(e.type=="formation") %}
                        <p style="color: black; padding-left: 16px">Locuteurs : {{ ep.locuteurs }}</p>
                        <p style="color: black; padding-left: 16px">Theme : {{ ep.theme }}</p>
                    {% elseif(e.type=="musique") %}
                        <p style="color: black; padding-left: 16px">Artistes : {{ ep.artistes }}</p>
                        <p style="color: black; padding-left: 16px">Genre : {{ ep.genre }}</p>
                    {% elseif(e.type=="expose") %}
                        <p style="color: black; padding-left: 16px">Locuteurs : {{ ep.locuteurs }}</p>
                        <p style="color: black; padding-left: 16px">Theme : {{ ep.theme }}</p>
                    {% endif %}
                </fieldset>
                {% if(e.user==app.user) and date(e.dateDebut) > date("now") %}
                    <a href="{{ path('modifierEvenement',{'id':e.id}) }}" class="btn btn-warning"><i class="fa fa-edit"></i> Modifier</a>
                    <a href="{{ path('supprimerEvenement',{'id':e.id}) }}" class="btn btn-danger"><i class="fa fa-eraser"></i> Supprimer</a>
                    <a href="#aaaa" class="btn btn-indigo"><i class="fa fa-shopping-cart"></i> Participer</a>
                {% elseif is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('validerEvenement', {'id': e.id}) }}" class="btn btn-success"><i class="fa fa-check"></i> Valider</a>
                    <a href="{{ path('refuserEvenement', {'id': e.id}) }}" class="btn btn-danger"><i class="fa fa-times"></i> Retirer</a>
                {% elseif app.user is not null and date(e.dateDebut) > date("now") %}
                    <a href="#aaaa" class="btn btn-indigo"><i class="fa fa-shopping-cart"></i> Participer</a>
                {% endif %}
                <br>
                <h4>Crée par "{{ e.user.username }}"</h4>
            </div>
            <div style="text-align: center;  padding-left: 50px;">
                {{ socialButtons({'pinterest':false, 'linkedin':{'url':app.request.uri}, 'facebook': {'send':true,'url':app.request.uri}, 'twitter': {'message':'Je veux partager l\'évènement '~e.nom~' avec vous qui se déroule à '~e.dateDebut|date~' !'}}) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
    $('#rating_star_1').click(function(){
        $("#form_note").val(1);
        $.ajax({
            url: "{{ path('evenement_evaluations') }}",
            type: "GET",
            dataType: "JSON",
            data: {
                note: 1
            },
            success: function (noteMoyenne) {
                $("#noteMoy").text(noteMoyenne.noteMoyenne);
            },
            error: function (err) {
                alert("error");
            }
        });
    });
    $('#rating_star_2').click(function(){
        $("#form_note").val(2);
        $.ajax({
            url: "{{ path('evenement_evaluations') }}",
            type: "GET",
            dataType: "JSON",
            data: {
                note: 2
            },
            success: function (noteMoyenne) {
                $("#noteMoy").text(noteMoyenne.noteMoyenne);
            },
            error: function (err) {
                alert("error");
            }
        });
    });
    $('#rating_star_3').click(function(){
        $("#form_note").val(3);
        $.ajax({
            url: "{{ path('evenement_evaluations') }}",
            type: "GET",
            dataType: "JSON",
            data: {
                note: 3
            },
            success: function (noteMoyenne) {
                $("#noteMoy").text(noteMoyenne.noteMoyenne);
            },
            error: function (err) {
                alert("error");
            }
        });
    });
    $('#rating_star_4').click(function(){
        $("#form_note").val(4);
        $.ajax({
            url: "{{ path('evenement_evaluations') }}",
            type: "GET",
            dataType: "JSON",
            data: {
                note: 4
            },
            success: function (noteMoyenne) {
                $("#noteMoy").text(noteMoyenne.noteMoyenne);
            },
            error: function (err) {
                alert("error");
            }
        });
    });
    $('#rating_star_5').click(function(){
        $("#form_note").val(5);
        $.ajax({
            url: "{{ path('evenement_evaluations') }}",
            type: "GET",
            dataType: "JSON",
            data: {
                note: 5
            },
            success: function (noteMoyenne) {
                $("#noteMoy").text(noteMoyenne.noteMoyenne);
            },
            error: function (err) {
                alert("error");
            }
        });
    });
    </script>
{% endblock %}