{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Google Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">


    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{{ asset('Front/vendor/animate.css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ asset('Front/vendor/hs-megamenu/src/hs.megamenu.css') }}">
    <link rel="stylesheet" href="{{ asset('Front/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css') }}">
    <link rel="stylesheet" href="{{ asset('Front/vendor/fancybox/jquery.fancybox.css') }}">
    <link rel="stylesheet" href="{{ asset('Front/vendor/slick-carousel/slick/slick.css') }}">

    <!-- CSS Front Template -->
    <link rel="stylesheet" href="{{ asset('Front/css/theme.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}
 <section class="content blog-page">
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card" style="padding: 20px; width: 1200px;">
                <h2>Afficher Les Evènements A Valider</h2>
                <br>
                <div class="card-sm-columns" style="width: 1200px;">
                    {% for e in events %}
                        <div class="card text-center border-dark mb-11" style="height : 33rem; width: 21rem; margin-left: 20px; margin-right: 20px;
                        {% if(e.type=='film') %} background-color : #3F51B5;
                        {% elseif(e.type=='theatre') %} background-color : #7986CB;
                        {% elseif(e.type=='formation') %} background-color : #303F9F;
                        {% elseif(e.type=='festival') %} background-color : #536DFE;
                        {% elseif(e.type=='musique') %} background-color : #304FFE;
                        {% elseif(e.type=='expose') %} background-color : #5C6BC0;
                        {% endif %} ">
                            <div class="card-img-top" style="position: relative; height: 200px">
                                <a href="{{ path('afficherEvenementAdmin', {'id': e.id}) }}"><img src="{{ asset("getImage.php?file="~e.img) }}" alt="{{ e.img }}" style="width: 100%; height :100%;"></a>
                                <div style="position: absolute; opacity: 0.95; height: 100%; width: 35%;  bottom: 0;  right: 0; text-align: center;  padding-left: 10px;  padding-right: 10px; {% if(e.type=='film') %} background-color : #3F51B5;
                                {% elseif(e.type=='theatre') %} background-color : #7986CB;
                                {% elseif(e.type=='formation') %} background-color : #303F9F;
                                {% elseif(e.type=='festival') %} background-color : #536DFE;
                                {% elseif(e.type=='musique') %} background-color : #304FFE;
                                {% elseif(e.type=='expose') %} background-color : #5C6BC0;
                                {% endif %} ">
                                    <p style="color: white; font-size: 17px; padding-top: 30px;padding-bottom: 0">PRIX : {{ e.prix }} DT</p>
                                    <i class="fa fa-ticket fa-3x" style="color: white;"></i>
                                    <p style="color: white; font-size: 11px; padding-top: 10px;">(PRIX POUR LES ETUDIANTS : {{ e.prixEtudiants }} DT)</p>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title" style="color: white">{{ e.type }} : {{ e.nom }}</h5>
                                <h6 class="card-subtitle mb-2" style="color: black">{{ e.salle.nom }}</h6>
                                <div class="card-text" style="color: navajowhite; height: 55px; overflow: hidden; text-overflow:ellipsis; font-size: 12px">{{ e.description }}</div>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item-warning" style="text-align : left; color: black">&nbsp;<i class="fa fa-clock"></i>&nbsp; Debut : {{ e.dateDebut|date }}</li>
                                <li class="list-group-item-warning" style="text-align : left; color: black">&nbsp;<i class="fa fa-clock" style="color: grey"></i>&nbsp; Fin : {{ e.dateFin|date }}</li>
                            </ul>
                            <div class="card-body">
                                <button onclick="valider({{ e.id }})" class="btn btn-success"><i class="fa fa-check"></i> Valider</button>
                                <button onclick="supprimer({{ e.id }})" class="btn btn-danger"><i class="fa fa-times"></i> Retirer</button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
 </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function valider(id) {
                $.ajax({
                    url: "{{ path('evenement_list_avalider') }}",
                    type: "GET",
                    dataType: "JSON",
                    data: {
                        id: id
                    },
                    success: function (evenements) {
                        var cardColmuns = $(".card-sm-columns");

                        cardColmuns.html('');

                        $.each(evenements, function (key, ev) {
                            var bg = "#3F51B5";
                            if (ev.type === 'film') {
                                bg = "#3F51B5;";
                            }
                            if (ev.type === 'theatre') {
                                bg = "#7986CB;";
                            }
                            if (ev.type === 'festival') {
                                bg = "#536DFE;";
                            }
                            if (ev.type === 'formation') {
                                bg = "#303F9F;";
                            }
                            if (ev.type === 'expose') {
                                bg = "#5C6BC0;";
                            }
                            if (ev.type === 'musique') {
                                bg = "#304FFE;";
                            }
                            cardColmuns.append('<div class="card text-center border-dark mb-11" style="height : 33rem; width: 21rem; margin-left: 20px; margin-right: 20px; display: inline-block;\n' +
                                ' background-color : ' + bg + '"><div class="card-img-top" style="position: relative; height: 200px">\n' +
                                '<a href="http://localhost/PiDev/web/app_dev.php/evenement/afficherEvenementAdmin/' + ev.id + '"><img src="http://localhost/PiDev/web/getImage.php?file=' + ev.img + '" alt="' + ev.img + '" style="width: 100%; height :100%;"></a>\n' +
                                '<div style="position: absolute; opacity: 0.95; height: 100%; width: 35%;  bottom: 0;  right: 0; text-align: center;  padding-left: 10px;  padding-right: 10px; ' +
                                ' background-color : ' + bg + '">\n' +
                                '                                    <p style="color: white; font-size: 17px; padding-top: 30px;padding-bottom: 0">PRIX : ' + ev.prix + ' DT</p>\n' +
                                '                                    <i class="fa fa-ticket fa-3x" style="color: white;"></i>\n' +
                                '                                    <p style="color: white; font-size: 11px; padding-top: 10px;">(PRIX POUR LES ETUDIANTS : ' + ev.prixEtudiants + ' DT)</p>\n' +
                                '                                </div>\n' +
                                '                            </div>\n' +
                                '                            <div class="card-body">\n' +
                                '                                <h5 class="card-title" style="color: white">' + ev.type + ' : ' + ev.nom + '</h5>\n' +
                                '                                <h6 class="card-subtitle mb-2" style="color: black">' + ev.salle + '</h6>\n' +
                                '                                <div class="card-text" style="color: navajowhite; height: 55px; overflow: hidden; text-overflow:ellipsis; font-size: 12px">' + ev.description + '</div>\n' +
                                '                            </div>\n' +
                                '                            <ul class="list-group list-group-flush">\n' +
                                '                                <li class="list-group-item-warning" style="text-align : left; color: black">&nbsp;<i class="fa fa-clock"></i>&nbsp; Debut : ' + ev.dateDebut + '</li>\n' +
                                '                                <li class="list-group-item-warning" style="text-align : left; color: black">&nbsp;<i class="fa fa-clock" style="color: grey"></i>&nbsp; Fin : ' + ev.dateFin + '</li>\n' +
                                '                            </ul>\n' +
                                '                            <div class="card-body">\n' +
                                '                                <button onclick="valider(' + ev.id + ')" class="btn btn-success"><i class="fa fa-check"></i> Valider</button>\n' +
                                '                                <button onclick="supprimer(' + ev.id + ')" class="btn btn-danger"><i class="fa fa-times"></i> Retirer</button>\n' +
                                '                            </div>\n' +
                                '                        </div>');
                        });
                    },
                    error: function (err) {

                    }
            });
        }

        function supprimer(id) {
            $.ajax({
                url: "{{ path('evenement_list_arefuser') }}",
                type: "GET",
                dataType: "JSON",
                data: {
                    id: id
                },
                success: function (evenements) {
                    var cardColmuns = $(".card-sm-columns");

                    cardColmuns.html('');

                    $.each(evenements, function (key, ev) {
                        var bg = "#3F51B5";
                        if (ev.type === 'film') {
                            bg = "#3F51B5;";
                        }
                        if (ev.type === 'theatre') {
                            bg = "#7986CB;";
                        }
                        if (ev.type === 'festival') {
                            bg = "#536DFE;";
                        }
                        if (ev.type === 'formation') {
                            bg = "#303F9F;";
                        }
                        if (ev.type === 'expose') {
                            bg = "#5C6BC0;";
                        }
                        if (ev.type === 'musique') {
                            bg = "#304FFE;";
                        }
                        cardColmuns.append('<div class="card text-center border-dark mb-11" style="height : 33rem; width: 21rem; margin-left: 20px; margin-right: 20px; display: inline-block;\n' +
                            ' background-color : ' + bg + '"><div class="card-img-top" style="position: relative; height: 200px">\n' +
                            '<a href="http://localhost/PiDev/web/app_dev.php/evenement/afficherEvenementAdmin/' + ev.id + '"><img src="http://localhost/PiDev/web/getImage.php?file=' + ev.img + '" alt="' + ev.img + '" style="width: 100%; height :100%;"></a>\n' +
                            '<div style="position: absolute; opacity: 0.95; height: 100%; width: 35%;  bottom: 0;  right: 0; text-align: center;  padding-left: 10px;  padding-right: 10px; ' +
                            ' background-color : ' + bg + '">\n' +
                            '                                    <p style="color: white; font-size: 17px; padding-top: 30px;padding-bottom: 0">PRIX : ' + ev.prix + ' DT</p>\n' +
                            '                                    <i class="fa fa-ticket fa-3x" style="color: white;"></i>\n' +
                            '                                    <p style="color: white; font-size: 11px; padding-top: 10px;">(PRIX POUR LES ETUDIANTS : ' + ev.prixEtudiants + ' DT)</p>\n' +
                            '                                </div>\n' +
                            '                            </div>\n' +
                            '                            <div class="card-body">\n' +
                            '                                <h5 class="card-title" style="color: white">' + ev.type + ' : ' + ev.nom + '</h5>\n' +
                            '                                <h6 class="card-subtitle mb-2" style="color: black">' + ev.salle + '</h6>\n' +
                            '                                <div class="card-text" style="color: navajowhite; height: 55px; overflow: hidden; text-overflow:ellipsis; font-size: 12px">' + ev.description + '</div>\n' +
                            '                            </div>\n' +
                            '                            <ul class="list-group list-group-flush">\n' +
                            '                                <li class="list-group-item-warning" style="text-align : left; color: black">&nbsp;<i class="fa fa-clock"></i>&nbsp; Debut : ' + ev.dateDebut + '</li>\n' +
                            '                                <li class="list-group-item-warning" style="text-align : left; color: black">&nbsp;<i class="fa fa-clock" style="color: grey"></i>&nbsp; Fin : ' + ev.dateFin + '</li>\n' +
                            '                            </ul>\n' +
                            '                            <div class="card-body">\n' +
                            '                                <button onclick="valider(' + ev.id + ')" class="btn btn-success"><i class="fa fa-check"></i> Valider</button>\n' +
                            '                                <button onclick="supprimer(' + ev.id + ')" class="btn btn-danger"><i class="fa fa-times"></i> Retirer</button>\n' +
                            '                            </div>\n' +
                            '                        </div>');
                    });
                },
                error: function (err) {

                }
            });
        }
    </script>
{% endblock %}