{% extends 'front.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block content %}
    <div class="d-lg-flex position-relative">
        <div class="container d-lg-flex align-items-lg-center space-top-2 space-top-md-5 space-lg-0 min-height-lg-100vh">
            <!-- Content -->

            <div style="width: 800px">
                <br><br><br><br><br><br><br>
            <h2>Ajouter Evenement</h2>
            <br>
                {{ form_start(form) }}
                    {{ form_row(form.nom) }}
                    {{ form_row(form.date_debut) }}
                    {{ form_row(form.date_fin) }}
                    {{ form_row(form.disponibles) }}
                    {{ form_row(form.type) }}
                <div style="display: inline-flex; width: 800px;">
                    <div style="width: 800px;">{{ form_row(form.Salle) }}</div>
                    <span style="width: 20px;" title="Vous devez compléter les champs (date debut, date fin, disponibles et type) pour avoir les salles disponibles"><i class="fa fa-question"></i></span>
                </div>
                    {{ form_row(form.age) }}
                    {{ form_row(form.prix) }}
                    {{ form_row(form.prixEtudiants) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.Img,{'required':true}) }}
                    <img src="" style="display: none" id="img">
                    <div class="form-group">
                        <label for="acteurs" id="lacteurs">Acteurs</label>
                        <input type="text" class="form-control" id="acteurs" name="acteurs" placeholder="Enter acteurs">
                    </div>
                    <div class="form-group">
                        <label for="artistes" id="lartistes">Artistes</label>
                        <input type="text" class="form-control" id="artistes" name="artistes" placeholder="Enter artistes">
                    </div>
                    <div class="form-group">
                        <label for="auteurs" id="lauteurs">Auteurs</label>
                        <input type="text" class="form-control" id="auteurs" name="auteurs" placeholder="Enter auteurs">
                    </div>
                    <div class="form-group">
                        <label for="realisateurs" id="lrealisateurs">Realisateurs</label>
                        <input type="text" class="form-control" id="realisateurs" name="realisateurs" placeholder="Enter realisateurs">
                    </div>
                    <div class="form-group">
                        <label for="genre" id="lgenre">Genre</label>
                        <select class="form-control" id="genre" name="genre">
                            <option value="action">Action</option>
                            <option value="horreur">Horreur</option>
                            <option value="drame">Drame</option>
                            <option value="aventure">Aventure</option>
                            <option value="thriller">Thriller</option>
                            <option value="comedie">Comedie</option>
                            <option value="historique">Historique</option>
                            <option value="western">Western</option>
                            <option value="opera">Opera</option>
                            <option value="science_fiction">Science Fiction</option>
                            <option value="fantasie">Fantasie</option>
                            <option value="biographie">Biographie</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="duree" id="lduree">Duree</label>
                        <input type="number" class="form-control" id="duree" name="duree" placeholder="Enter duree">
                    </div>
                    <div class="form-group">
                        <label for="AnneeSortie" id="lanneeSortie">Année de sortie</label>
                        <input type="date" class="form-control" id="anneeSortie" name="anneeSortie" placeholder="Enter date de sortie">
                    </div>
                    <div class="form-group">
                        <label for="participants" id="lparticipants">Participants</label>
                        <input type="text" class="form-control" id="participants" name="participants" placeholder="Enter participants">
                    </div>
                    <div class="form-group">
                        <label for="genreFestival" id="lgenreFestival">Genre</label>
                        <select class="form-control" id="genreFestival" name="genreFestival">
                            <option value="sportif">Sportif</option>
                            <option value="culturel">Culturel</option>
                            <option value="humour">Humour</option>
                            <option value="bande_dessinee">Bande Dessinée</option>
                            <option value="cirque">Cirque</option>
                            <option value="cinema">Cinema</option>
                            <option value="danse">Danse</option>
                            <option value="musique">Musique</option>
                            <option value="photographie">Photographie</option>
                            <option value="theatre">Theatre</option>
                            <option value="litterature">Littérature</option>
                            <option value="jeux">Jeux</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="typeFestival" id="ltypeFestival">Type</label>
                        <select class="form-control" id="typeFestival" name="typeFestival">
                            <option value="international">International</option>
                            <option value="national">National</option>
                            <option value="regional">Regional</option>
                            <option value="local">Local</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="locuteurs" id="llocuteurs">Locuteurs</label>
                        <input type="text" class="form-control" id="locuteurs" name="locuteurs" placeholder="Enter locuteurs">
                    </div>
                    <div class="form-group">
                        <label for="themeFormation" id="lthemeFormation">Theme</label>
                        <select class="form-control" id="themeFormation" name="themeFormation">
                            <option value="informatique">Informatique</option>
                            <option value="bureautique">Bureautique</option>
                            <option value="qualite_organisation">Qualité Organisation</option>
                            <option value="comptabilite">Comptabilité</option>
                            <option value="langues">Langues</option>
                            <option value="transport">Transport</option>
                            <option value="marketing">Marketing</option>
                            <option value="social">Social</option>
                            <option value="communication">Communication</option>
                            <option value="securite">Sécurité</option>
                            <option value="management">Management</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="themeExpose" id="lthemeExpose">Theme</label>
                        <select class="form-control" id="themeExpose" name="themeExpose">
                            <option value="histoire">Histoire</option>
                            <option value="geographie">Geographie</option>
                            <option value="sciences">Sciences</option>
                            <option value="musique">Musique</option>
                            <option value="civil">Civil</option>
                            <option value="culture">Culture</option>
                            <option value="economie">Economie</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="genreMusique" id="lgenreMusique">Genre</label>
                        <select class="form-control" id="genreMusique" name="genreMusique">
                            <option value="blues">Blues</option>
                            <option value="disco">Disco</option>
                            <option value="funk">Funk</option>
                            <option value="pop">Pop</option>
                            <option value="folk">Folk</option>
                            <option value="jazz">Jazz</option>
                            <option value="rai">Rai</option>
                            <option value="rap">Rap</option>
                            <option value="rock">Rock</option>
                            <option value="soul">Soul</option>
                            <option value="raggae">Reggae</option>
                            <option value="edm">EDM</option>
                            <option value="classique">Classique</option>
                            <option value="orientale">Orientale</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            var tSelector = $("#pi_bundle_evenement_form_type");
            hideAll();
            if(tSelector.val()==="film")
            {
                hideAll();
                $("#acteurs").show();
                $("#anneeSortie").show();
                $("#realisateurs").show();
                $("#duree").show();
                $("#genre").show();
                $("#lacteurs").show();
                $("#lanneeSortie").show();
                $("#lrealisateurs").show();
                $("#lduree").show();
                $("#lgenre").show();
            }
            if(tSelector.val()==="theatre")
            {
                hideAll();
                $("#realisateurs").show();
                $("#auteurs").show();
                $("#artistes").show();
                $("#anneeSortie").show();
                $("#genre").show();
                $("#lrealisateurs").show();
                $("#lauteurs").show();
                $("#lartistes").show();
                $("#lanneeSortie").show();
                $("#lgenre").show();
            }
            if(tSelector.val()==="festival")
            {
                hideAll();
                $("#genreFestival").show();
                $("#typeFestival").show();
                $("#participants").show();
                $("#lgenreFestival").show();
                $("#ltypeFestival").show();
                $("#lparticipants").show();
            }
            if(tSelector.val()==="formation")
            {
                hideAll();
                $("#locuteurs").show();
                $("#themeFormation").show();
                $("#llocuteurs").show();
                $("#lthemeFormation").show();
            }
            if(tSelector.val()==="expose")
            {
                hideAll();
                $("#locuteurs").show();
                $("#llocuteurs").show();
                $("#themeExpose").show();
                $("#lthemeExpose").show();
            }
            if(tSelector.val()==="musique")
            {
                hideAll();
                $("#artistes").show();
                $("#lartistes").show();
                $("#genreMusique").show();
                $("#lgenreMusique").show();
            }

            $('#pi_bundle_evenement_form_Img').change(function () {
                $("#img").show();
                if (this.files && this.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#img')
                            .attr('src', e.target.result)
                            .width(250)
                            .height(200);
                    };

                    reader.readAsDataURL(this.files[0]);
                }
            });

            $('#pi_bundle_evenement_form_date_debut').change(function () {
                var tSelector = $("#pi_bundle_evenement_form_type");
                var ddSelector = $("#pi_bundle_evenement_form_date_debut");
                var dfSelector = $("#pi_bundle_evenement_form_date_fin");
                var dSelector = $("#pi_bundle_evenement_form_disponibles");
                if(tSelector.val()!=='' && dSelector.val()!=='' && dfSelector.val()!=='' && ddSelector.val()!=='')
                {
                    $.ajax({
                        url: "{{ path('evenement_list_salles') }}",
                        type: "GET",
                        dataType: "JSON",
                        data: {
                            dateDebut: ddSelector.val().replace('T',' '),
                            dateFin: dfSelector.val().replace('T',' '),
                            type: tSelector.val(),
                            disponibles: dSelector.val()
                        },
                        success: function (salles) {
                            var sallesSelect = $("#pi_bundle_evenement_form_Salle");

                            // Remove current options
                            sallesSelect.html('');

                            // Empty value ...
                            sallesSelect.append('<option value> Sélectionner une salle' + ' ...</option>');


                            $.each(salles, function (key, salle) {
                                sallesSelect.append('<option value="' + salle.id + '">' + salle.nom + '</option>');
                            });
                        },
                        error: function (err) {
                            //alert(err);
                            //alert(ddSelector.val().replace('T',' ')+" "+ dfSelector.val().replace('T',' ')+" "+tSelector.val()+" "+dSelector.val());
                        }
                    });
                }
            });
            $('#pi_bundle_evenement_form_date_fin').change(function () {
                var ddSelector = $("#pi_bundle_evenement_form_date_debut");
                var dfSelector = $("#pi_bundle_evenement_form_date_fin");
                var tSelector = $("#pi_bundle_evenement_form_type");
                var dSelector = $("#pi_bundle_evenement_form_disponibles");
                if(tSelector.val()!=='' && dSelector.val()!=='' && dfSelector.val()!=='' && ddSelector.val()!=='') {
                    $.ajax({
                        url: "{{ path('evenement_list_salles') }}",
                        type: "GET",
                        dataType: "JSON",
                        data: {
                            dateDebut: ddSelector.val().replace('T', ' '),
                            dateFin: dfSelector.val().replace('T', ' '),
                            type: tSelector.val(),
                            disponibles: dSelector.val()
                        },
                        success: function (salles) {
                            var sallesSelect = $("#pi_bundle_evenement_form_Salle");

                            // Remove current options
                            sallesSelect.html('');

                            // Empty value ...
                            sallesSelect.append('<option value> Sélectionner une salle' + ' ...</option>');


                            $.each(salles, function (key, salle) {
                                sallesSelect.append('<option value="' + salle.id + '">' + salle.nom + '</option>');
                            });
                        },
                        error: function (err) {
                            //alert(err);
                            //alert(ddSelector.val().replace('T',' ')+" "+ dfSelector.val().replace('T',' ')+" "+tSelector.val()+" "+dSelector.val());
                        }
                    });
                }
            });
            $('#pi_bundle_evenement_form_type').change(function () {
                var ddSelector = $("#pi_bundle_evenement_form_date_debut");
                var dfSelector = $("#pi_bundle_evenement_form_date_fin");
                var tSelector = $("#pi_bundle_evenement_form_type");
                var dSelector = $("#pi_bundle_evenement_form_disponibles");
                if(tSelector.val()==="film")
                {
                    hideAll();
                    $("#acteurs").show();
                    $("#anneeSortie").show();
                    $("#realisateurs").show();
                    $("#duree").show();
                    $("#genre").show();
                    $("#lacteurs").show();
                    $("#lanneeSortie").show();
                    $("#lrealisateurs").show();
                    $("#lduree").show();
                    $("#lgenre").show();
                }
                if(tSelector.val()==="theatre")
                {
                    hideAll();
                    $("#realisateurs").show();
                    $("#auteurs").show();
                    $("#artistes").show();
                    $("#anneeSortie").show();
                    $("#genre").show();
                    $("#lrealisateurs").show();
                    $("#lauteurs").show();
                    $("#lartistes").show();
                    $("#lanneeSortie").show();
                    $("#lgenre").show();
                }
                if(tSelector.val()==="festival")
                {
                    hideAll();
                    $("#genreFestival").show();
                    $("#typeFestival").show();
                    $("#participants").show();
                    $("#lgenreFestival").show();
                    $("#ltypeFestival").show();
                    $("#lparticipants").show();
                }
                if(tSelector.val()==="formation")
                {
                    hideAll();
                    $("#locuteurs").show();
                    $("#themeFormation").show();
                    $("#llocuteurs").show();
                    $("#lthemeFormation").show();
                }
                if(tSelector.val()==="expose")
                {
                    hideAll();
                    $("#locuteurs").show();
                    $("#llocuteurs").show();
                    $("#themeExpose").show();
                    $("#lthemeExpose").show();
                }
                if(tSelector.val()==="musique")
                {
                    hideAll();
                    $("#artistes").show();
                    $("#lartistes").show();
                    $("#genreMusique").show();
                    $("#lgenreMusique").show();
                }
                if(tSelector.val()!=='' && dSelector.val()!=='' && dfSelector.val()!=='' && ddSelector.val()!=='') {
                    $.ajax({
                        url: "{{ path('evenement_list_salles') }}",
                        type: "GET",
                        dataType: "JSON",
                        data: {
                            dateDebut: ddSelector.val().replace('T', ' '),
                            dateFin: dfSelector.val().replace('T', ' '),
                            type: tSelector.val(),
                            disponibles: dSelector.val()
                        },
                        success: function (salles) {
                            var sallesSelect = $("#pi_bundle_evenement_form_Salle");

                            // Remove current options
                            sallesSelect.html('');

                            // Empty value ...
                            sallesSelect.append('<option value> Sélectionner une salle' + ' ...</option>');


                            $.each(salles, function (key, salle) {
                                sallesSelect.append('<option value="' + salle.id + '">' + salle.nom + '</option>');
                            });
                        },
                        error: function (err) {
                            //alert(err);
                            //alert(ddSelector.val().replace('T',' ')+" "+ dfSelector.val().replace('T',' ')+" "+tSelector.val()+" "+dSelector.val());
                        }
                    });
                }
            });
            $('#pi_bundle_evenement_form_disponibles').change(function () {
                var ddSelector = $("#pi_bundle_evenement_form_date_debut");
                var dfSelector = $("#pi_bundle_evenement_form_date_fin");
                var tSelector = $("#pi_bundle_evenement_form_type");
                var dSelector = $("#pi_bundle_evenement_form_disponibles");
                if(tSelector.val()!=='' && dSelector.val()!=='' && dfSelector.val()!=='' && ddSelector.val()!=='') {
                    $.ajax({
                        url: "{{ path('evenement_list_salles') }}",
                        type: "GET",
                        dataType: "JSON",
                        data: {
                            dateDebut: ddSelector.val().replace('T', ' '),
                            dateFin: dfSelector.val().replace('T', ' '),
                            type: tSelector.val(),
                            disponibles: dSelector.val()
                        },
                        success: function (salles) {
                            var sallesSelect = $("#pi_bundle_evenement_form_Salle");

                            // Remove current options
                            sallesSelect.html('');

                            // Empty value ...
                            sallesSelect.append('<option value> Sélectionner une salle' + ' ...</option>');


                            $.each(salles, function (key, salle) {
                                sallesSelect.append('<option value="' + salle.id + '">' + salle.nom + '</option>');
                            });
                        },
                        error: function (err) {
                            alert(ddSelector.val().replace('T',' ')+" "+ dfSelector.val().replace('T',' ')+" "+tSelector.val()+" "+dSelector.val());
                        }
                    });
                }
            });

        });
        function hideAll()
        {
            $("#acteurs").hide();
            $("#artistes").hide();
            $("#auteurs").hide();
            $("#anneeSortie").hide();
            $("#realisateurs").hide();
            $("#duree").hide();
            $("#genre").hide();
            $("#lacteurs").hide();
            $("#lartistes").hide();
            $("#lauteurs").hide();
            $("#lanneeSortie").hide();
            $("#lrealisateurs").hide();
            $("#lduree").hide();
            $("#lgenre").hide();
            $("#genreFestival").hide();
            $("#typeFestival").hide();
            $("#participants").hide();
            $("#lgenreFestival").hide();
            $("#ltypeFestival").hide();
            $("#lparticipants").hide();
            $("#locuteurs").hide();
            $("#themeFormation").hide();
            $("#llocuteurs").hide();
            $("#lthemeFormation").hide();
            $("#themeExpose").hide();
            $("#lthemeExpose").hide();
            $("#genreMusique").hide();
            $("#lgenreMusique").hide();
        }
    </script>
{% endblock %}