{% extends 'front.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="d-lg-flex position-relative">
        <div class="container d-lg-flex align-items-lg-center space-top-2 space-top-md-5 space-lg-0 min-height-lg-auto">
            <!-- Content -->

            <div>
                <br><br><br><br><br>
                <h2>Mes Statistiques</h2>
                <p style="padding-left: 20px; color: darkslateblue;">Vous avez crée {{ nbr }} évènements qui sont répartis comme suit:</p>
                <div style="display: inline-flex; width: 1200px;">
                    <div id="div_pie2"></div>
                    <div id="div_pie"></div>
                </div>
                <p style="padding-left: 20px; color: darkslateblue;">L'évènement avec la meilleure note moyenne est <a href="{{ path('afficherEvenement', {'id': evmax.id}) }}">{{ evmax.nom }}</a> avec {{ evmaxmoy }}.</p>
                <p style="padding-left: 20px; color: darkslateblue;">L'évènement avec la meilleure note moyenne est <a href="{{ path('afficherEvenement', {'id': evmin.id}) }}">{{ evmin.nom }}</a> avec {{ evminmoy }}.</p>
                <div id="div_histogram"></div>
                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                <script type="text/javascript">
                    {{ gc_draw([histogram,pieChart,pieChart2], ['div_histogram','div_pie','div_pie2']) }}
                </script>
            </div>
        </div>
    </div>
{% endblock %}