{% extends 'front.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block content %}
    <div class="d-lg-flex position-relative">
        <div class="container d-lg-flex align-items-lg-center space-top-2 space-top-md-5 space-lg-0 min-height-lg-100vh">
            <!-- Content -->

            <div style="width: 800px">
                <br><br><br><br><br><br><br>
                <h2>Modifier Evenement</h2>
                <br>
                {{ form_start(form) }}
                {{ form_row(form.nom) }}
                {{ form_row(form.date_debut,{'attr':{'readonly':'readonly'}}) }}
                {{ form_row(form.date_fin,{'attr':{'readonly':'readonly'}}) }}
                {{ form_row(form.disponibles,{'attr':{'readonly':'readonly'}}) }}
                {{ form_row(form.type,{'attr':{'readonly':'readonly'}}) }}
                {{ form_row(form.Salle,{'attr':{'readonly':'readonly'}}) }}
                {{ form_row(form.age) }}
                {{ form_row(form.prix) }}
                {{ form_row(form.prixEtudiants) }}
                {{ form_row(form.description) }}
                {{ form_row(form.Img) }}
                <img src="{{ asset('getImage.php?file='~e.Img) }}" style="width: 250px; height: 200px" id="img">
                <div class="form-group">
                    <label for="acteurs" id="lacteurs">Acteurs</label>
                    <input type="text" {% if(ep.acteurs is defined) %} value="{{ ep.acteurs }}" {% endif %} class="form-control" id="acteurs" name="acteurs" placeholder="Enter acteurs">
                </div>
                <div class="form-group">
                    <label for="artistes" id="lartistes">Artistes</label>
                    <input type="text" {% if(ep.artistes is defined) %} value="{{ ep.artistes }}" {% endif %} class="form-control" id="artistes" name="artistes" placeholder="Enter artistes">
                </div>
                <div class="form-group">
                    <label for="auteurs" id="lauteurs">Auteurs</label>
                    <input type="text" {% if(ep.auteurs is defined) %} value="{{ ep.auteurs }}" {% endif %} class="form-control" id="auteurs" name="auteurs" placeholder="Enter auteurs">
                </div>
                <div class="form-group">
                    <label for="realisateurs" id="lrealisateurs">Realisateurs</label>
                    <input type="text" {% if(ep.realisateurs is defined) %} value="{{ ep.realisateurs }}" {% endif %} class="form-control" id="realisateurs" name="realisateurs" placeholder="Enter realisateurs">
                </div>
                <div class="form-group">
                    <label for="genre" id="lgenre">Genre</label>
                    <select class="form-control" id="genre" name="genre">
                        <option {% if(ep.genre is defined and ep.genre=='action') %} selected {% endif %} value="action">Action</option>
                        <option {% if(ep.genre is defined and ep.genre=='horreur') %} selected {% endif %} value="horreur">Horreur</option>
                        <option {% if(ep.genre is defined and ep.genre=='drame') %} selected {% endif %} value="drame">Drame</option>
                        <option {% if(ep.genre is defined and ep.genre=='aventure') %} selected {% endif %} value="aventure">Aventure</option>
                        <option {% if(ep.genre is defined and ep.genre=='thriller') %} selected {% endif %} value="thriller">Thriller</option>
                        <option {% if(ep.genre is defined and ep.genre=='comedie') %} selected {% endif %} value="comedie">Comedie</option>
                        <option {% if(ep.genre is defined and ep.genre=='historique') %} selected {% endif %} value="historique">Historique</option>
                        <option {% if(ep.genre is defined and ep.genre=='western') %} selected {% endif %} value="western">Western</option>
                        <option {% if(ep.genre is defined and ep.genre=='opera') %} selected {% endif %} value="opera">Opera</option>
                        <option {% if(ep.genre is defined and ep.genre=='science_fiction') %} selected {% endif %} value="science_fiction">Science Fiction</option>
                        <option {% if(ep.genre is defined and ep.genre=='fantasie') %} selected {% endif %} value="fantasie">Fantasie</option>
                        <option {% if(ep.genre is defined and ep.genre=='biographie') %} selected {% endif %} value="biographie">Biographie</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="duree" id="lduree">Duree</label>
                    <input type="number" {% if(ep.duree is defined) %} value="{{ ep.duree }}" {% endif %} class="form-control" id="duree" name="duree" placeholder="Enter duree">
                </div>
                <div class="form-group">
                    <label for="AnneeSortie" id="lanneeSortie">Année de sortie</label>
                    <input type="date" {% if(ep.anneeSortie is defined) %} value="{{ ep.anneeSortie|date('Y-m-d') }}" {% endif %} class="form-control" id="anneeSortie" name="anneeSortie" placeholder="Enter date de sortie">
                </div>
                <div class="form-group">
                    <label for="participants" id="lparticipants">Participants</label>
                    <input type="text" {% if(ep.participants is defined) %} value="{{ ep.participants }}" {% endif %} class="form-control" id="participants" name="participants" placeholder="Enter participants">
                </div>
                <div class="form-group">
                    <label for="genreFestival" id="lgenreFestival">Genre</label>
                    <select class="form-control" id="genreFestival" name="genreFestival">
                        <option {% if(ep.genreFestival is defined and ep.genreFestival=='sportif') %} selected {% endif %} value="sportif">Sportif</option>
                        <option {% if(ep.genreFestival is defined and ep.genreFestival=='culturel') %} selected {% endif %} value="culturel">Culturel</option>
                        <option {% if(ep.genreFestival is defined and ep.genreFestival=='humour') %} selected {% endif %} value="humour">Humour</option>
                        <option {% if(ep.genreFestival is defined and ep.genreFestival=='bande_dessinee') %} selected {% endif %} value="bande_dessinee">Bande Dessinée</option>
                        <option {% if(ep.genreFestival is defined and ep.genreFestival=='cirque') %} selected {% endif %} value="cirque">Cirque</option>
                        <option {% if(ep.genreFestival is defined and ep.genreFestival=='cinema') %} selected {% endif %} value="cinema">Cinema</option>
                        <option {% if(ep.genreFestival is defined and ep.genreFestival=='danse') %} selected {% endif %} value="danse">Danse</option>
                        <option {% if(ep.genreFestival is defined and ep.genreFestival=='musique') %} selected {% endif %} value="musique">Musique</option>
                        <option {% if(ep.genreFestival is defined and ep.genreFestival=='photographie') %} selected {% endif %} value="photographie">Photographie</option>
                        <option {% if(ep.genreFestival is defined and ep.genreFestival=='theatre') %} selected {% endif %} value="theatre">Theatre</option>
                        <option {% if(ep.genreFestival is defined and ep.genreFestival=='litterature') %} selected {% endif %} value="litterature">Littérature</option>
                        <option {% if(ep.genreFestival is defined and ep.genreFestival=='jeux') %} selected {% endif %} value="jeux">Jeux</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="typeFestival" id="ltypeFestival">Type</label>
                    <select class="form-control" id="typeFestival" name="typeFestival">
                        <option {% if(ep.typeFestival is defined and ep.typeFestival=='international') %} selected {% endif %} value="international">International</option>
                        <option {% if(ep.typeFestival is defined and ep.typeFestival=='national') %} selected {% endif %} value="national">National</option>
                        <option {% if(ep.typeFestival is defined and ep.typeFestival=='regional') %} selected {% endif %} value="regional">Regional</option>
                        <option {% if(ep.typeFestival is defined and ep.typeFestival=='local') %} selected {% endif %} value="local">Local</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="locuteurs" id="llocuteurs">Locuteurs</label>
                    <input type="text" {% if(ep.locuteurs is defined) %} value="{{ ep.locuteurs }}" {% endif %} class="form-control" id="locuteurs" name="locuteurs" placeholder="Enter locuteurs">
                </div>
                <div class="form-group">
                    <label for="themeFormation" id="lthemeFormation">Theme</label>
                    <select class="form-control" id="themeFormation" name="themeFormation">
                        <option {% if(ep.theme is defined and ep.theme=='informatique') %} selected {% endif %} value="informatique">Informatique</option>
                        <option {% if(ep.theme is defined and ep.theme=='bureautique') %} selected {% endif %} value="bureautique">Bureautique</option>
                        <option {% if(ep.theme is defined and ep.theme=='qualite_organisation') %} selected {% endif %} value="qualite_organisation">Qualité Organisation</option>
                        <option {% if(ep.theme is defined and ep.theme=='comptabilite') %} selected {% endif %} value="comptabilite">Comptabilité</option>
                        <option {% if(ep.theme is defined and ep.theme=='langues') %} selected {% endif %} value="langues">Langues</option>
                        <option {% if(ep.theme is defined and ep.theme=='transport') %} selected {% endif %} value="transport">Transport</option>
                        <option {% if(ep.theme is defined and ep.theme=='marketing') %} selected {% endif %} value="marketing">Marketing</option>
                        <option {% if(ep.theme is defined and ep.theme=='social') %} selected {% endif %} value="social">Social</option>
                        <option {% if(ep.theme is defined and ep.theme=='communication') %} selected {% endif %} value="communication">Communication</option>
                        <option {% if(ep.theme is defined and ep.theme=='securite') %} selected {% endif %} value="securite">Sécurité</option>
                        <option {% if(ep.theme is defined and ep.theme=='management') %} selected {% endif %} value="management">Management</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="themeExpose" id="lthemeExpose">Theme</label>
                    <select class="form-control" id="themeExpose" name="themeExpose">
                        <option {% if(ep.theme is defined and ep.theme=='histoire') %} selected {% endif %} value="histoire">Histoire</option>
                        <option {% if(ep.theme is defined and ep.theme=='geographie') %} selected {% endif %} value="geographie">Geographie</option>
                        <option {% if(ep.theme is defined and ep.theme=='sciences') %} selected {% endif %} value="sciences">Sciences</option>
                        <option {% if(ep.theme is defined and ep.theme=='musique') %} selected {% endif %} value="musique">Musique</option>
                        <option {% if(ep.theme is defined and ep.theme=='civil') %} selected {% endif %} value="civil">Civil</option>
                        <option {% if(ep.theme is defined and ep.theme=='culture') %} selected {% endif %} value="culture">Culture</option>
                        <option {% if(ep.theme is defined and ep.theme=='economie') %} selected {% endif %} value="economie">Economie</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="genreMusique" id="lgenreMusique">Genre</label>
                    <select class="form-control" id="genreMusique" name="genreMusique">
                        <option {% if(ep.genre is defined and ep.genre=='blues') %} selected {% endif %} value="blues">Blues</option>
                        <option {% if(ep.genre is defined and ep.genre=='disco') %} selected {% endif %} value="disco">Disco</option>
                        <option {% if(ep.genre is defined and ep.genre=='funk') %} selected {% endif %} value="funk">Funk</option>
                        <option {% if(ep.genre is defined and ep.genre=='pop') %} selected {% endif %} value="pop">Pop</option>
                        <option {% if(ep.genre is defined and ep.genre=='folk') %} selected {% endif %} value="folk">Folk</option>
                        <option {% if(ep.genre is defined and ep.genre=='jazz') %} selected {% endif %} value="jazz">Jazz</option>
                        <option {% if(ep.genre is defined and ep.genre=='rai') %} selected {% endif %} value="rai">Rai</option>
                        <option {% if(ep.genre is defined and ep.genre=='rap') %} selected {% endif %} value="rap">Rap</option>
                        <option {% if(ep.genre is defined and ep.genre=='rock') %} selected {% endif %} value="rock">Rock</option>
                        <option {% if(ep.genre is defined and ep.genre=='soul') %} selected {% endif %} value="soul">Soul</option>
                        <option {% if(ep.genre is defined and ep.genre=='raggae') %} selected {% endif %} value="raggae">Reggae</option>
                        <option {% if(ep.genre is defined and ep.genre=='edm') %} selected {% endif %} value="edm">EDM</option>
                        <option {% if(ep.genre is defined and ep.genre=='classique') %} selected {% endif %} value="classique">Classique</option>
                        <option {% if(ep.genre is defined and ep.genre=='orientale') %} selected {% endif %} value="orientale">Orientale</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Modifier</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            hideAll();

            var ddSelector = $("#pi_bundle_evenement_form_date_debut");
            var dfSelector = $("#pi_bundle_evenement_form_date_fin");
            var tSelector = $("#pi_bundle_evenement_form_type");
            var dSelector = $("#pi_bundle_evenement_form_disponibles");
            if(tSelector.val()==="film")
            {
                $("#acteurs").show();
                $("#anneeSortie").show();
                $("#realisateurs").show();
                $("#duree").show();
                $("#genre").show();
                $("#lacteurs").show();
                $("#lanneeSortie").show();
                $("#lrealisateurs").show();
                $("#lduree").show();
                $("#lgenre").show();
            }
            if(tSelector.val()==="theatre")
            {
                $("#realisateurs").show();
                $("#auteurs").show();
                $("#artistes").show();
                $("#anneeSortie").show();
                $("#genre").show();
                $("#lrealisateurs").show();
                $("#lauteurs").show();
                $("#lartistes").show();
                $("#lanneeSortie").show();
                $("#lgenre").show();
            }
            if(tSelector.val()==="festival")
            {
                $("#genreFestival").show();
                $("#typeFestival").show();
                $("#participants").show();
                $("#genreFestival").val();
                $("#typeFestival").val();
                $("#lgenreFestival").show();
                $("#ltypeFestival").show();
                $("#lparticipants").show();
            }
            if(tSelector.val()==="formation")
            {
                $("#locuteurs").show();
                $("#themeFormation").show();
                $("#llocuteurs").show();
                $("#lthemeFormation").show();
            }
            if(tSelector.val()==="expose")
            {
                $("#locuteurs").show();
                $("#llocuteurs").show();
                $("#themeExpose").show();
                $("#lthemeExpose").show();
            }
            if(tSelector.val()==="musique")
            {
                $("#artistes").show();
                $("#lartistes").show();
                $("#genreMusique").show();
                $("#lgenreMusique").show();
            }

            $('#pi_bundle_evenement_form_Img').change(function () {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#img')
                            .attr('src', e.target.result)
                            .width(250)
                            .height(200);
                    };

                    reader.readAsDataURL(this.files[0]);
                }
            });
        });
        function hideAll()
        {
            $("#acteurs").hide();
            $("#artistes").hide();
            $("#auteurs").hide();
            $("#anneeSortie").hide();
            $("#realisateurs").hide();
            $("#duree").hide();
            $("#genre").hide();
            $("#lacteurs").hide();
            $("#lartistes").hide();
            $("#lauteurs").hide();
            $("#lanneeSortie").hide();
            $("#lrealisateurs").hide();
            $("#lduree").hide();
            $("#lgenre").hide();
            $("#genreFestival").hide();
            $("#typeFestival").hide();
            $("#participants").hide();
            $("#lgenreFestival").hide();
            $("#ltypeFestival").hide();
            $("#lparticipants").hide();
            $("#locuteurs").hide();
            $("#themeFormation").hide();
            $("#llocuteurs").hide();
            $("#lthemeFormation").hide();
            $("#themeExpose").hide();
            $("#lthemeExpose").hide();
            $("#genreMusique").hide();
            $("#lgenreMusique").hide();
        }
    </script>
{% endblock %}