{% extends 'front.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
    <div class="d-lg-flex position-relative">
        <div class="container d-lg-flex align-items-lg-center space-top-2 space-top-md-5 space-lg-0 min-height-lg-100vh">
            <!-- Content -->

            <div>
                <br><br><br><br><br><br><br>
                <div class="card-sm-columns" style="width: 1200px;">
                    {% for e in events %}
                        <div class="card text-center border-dark mb-11" style="width: 21rem; margin-left: 20px; margin-right: 20px;
                        {% if(e.type=='film') %} background-color : #3F51B5;
                        {% elseif(e.type=='theatre') %} background-color : #7986CB;
                        {% elseif(e.type=='formation') %} background-color : #303F9F;
                        {% elseif(e.type=='festival') %} background-color : #536DFE;
                        {% elseif(e.type=='musique') %} background-color : #304FFE;
                        {% elseif(e.type=='expose') %} background-color : #5C6BC0;
                        {% endif %} ">
                            <div class="card-img-top" style="position: relative; height: 200px">
                                <a href="afficherEvenement/{{ e.id }}"><img src="{{ asset("getImage.php?file="~e.img) }}" alt="{{ e.img }}" style="width: 100%; height :100%;"></a>
                                <div style="position: absolute; opacity: 0.95; height: 100%; width: 35%;  bottom: 0;  right: 0; text-align: center;  padding-left: 10px;  padding-right: 10px; {% if(e.type=='film') %} background-color : #3F51B5;
                                {% elseif(e.type=='theatre') %} background-color : #7986CB;
                                {% elseif(e.type=='formation') %} background-color : #303F9F;
                                {% elseif(e.type=='festival') %} background-color : #536DFE;
                                {% elseif(e.type=='musique') %} background-color : #304FFE;
                                {% elseif(e.type=='expose') %} background-color : #5C6BC0;
                                {% endif %} ">
                                    <p style="color: white; font-size: 17px; padding-top: 30px;padding-bottom: 0">PRIX : {{ e.prix }} DT</p>
                                    <i class="fa fa-ticket fa-3x" style="color: white;"></i>
                                    <p style="color: white; font-size: 11px; padding-top: 10px;">(PRIX POUR LES ETUDIANTS : {{ e.prixEtudiants }} DT)</p>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title" style="color: white">{{ e.type }} : {{ e.nom }}</h5>
                                <h6 class="card-subtitle mb-2" style="color: black">{{ e.salle.nom }}</h6>
                                <div class="card-text" style="color: navajowhite; height: 55px; overflow: hidden; text-overflow:ellipsis; font-size: 12px">{{ e.description }}</div>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item-warning" style="text-align : left; color: black">&nbsp;<i class="fa fa-clock"></i>&nbsp; Debut : {{ e.dateDebut|date }}</li>
                                <li class="list-group-item-warning" style="text-align : left; color: black">&nbsp;<i class="fa fa-clock" style="color: grey"></i>&nbsp; Fin : {{ e.dateFin|date }}</li>
                            </ul>
                            {% if app.user is not null and date(e.dateDebut) > date("now") %}
                                <div class="card-body">
                                    <a href="#aaaa" class="btn btn-warning"><i class="fa fa-shopping-cart"></i> Participer</a>
                                </div>
                            {% elseif app.user is not null %}
                                <div class="card-body">
                                    <button disabled="disabled" href="#aaaa" class="btn btn-indigo"><i class="fa fa-shopping-cart"></i> Participer</button>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}