{% extends 'base.html.twig' %}

{% block body %}
    <section class="content blog-page">
    <div class="container">
    <div class="row clearfix">
    <div class="col-lg-12">
    <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card" style="padding: 20px;">
            <h2>Afficher Les Salles &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ path('ajouterSalle') }}"><i class="fa fa-plus-square fa-2x"></i></a></h2>
            <br>
            <div style="padding-left: 30px;">
            <table class="table table-striped table-dark" style="text-align: center; width: 1100px">
                <thead>
                <tr>
                    <th class="th-sm">Nom</th>
                    <th class="th-sm">Type</th>
                    <th class="th-sm">Capacite</th>
                    <th class="th-sm">Cout De Réservation par heure</th>
                    <th class="th-sm">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for s in salles %}
                    <tr>
                        <td style="display: table-cell; vertical-align: middle;">{{ s.nom }}</td>
                        <td style="display: table-cell; vertical-align: middle;">{{ s.type }}</td>
                        <td style="display: table-cell; vertical-align: middle;">{{ s.capacite }}</td>
                        <td style="display: table-cell; vertical-align: middle;">{{ s.coutReservationHeure }}DT</td>
                        <td style="display: table-cell; vertical-align: middle;"><a class="btn btn-indigo" href="{{ path('afficherSalle', {'id': s.id}) }}">Afficher</a>
                            <a class="btn btn-warning" href="{{ path('modifierSalle', {'id': s.id}) }}">Modifier</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
{% endblock %}