{% extends 'base.html.twig' %}

{% block body %}
    <section class="content blog-page">
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card" style="padding: 20px;">
                <div style="text-align: center;"><h3 class="card-title">{{ salle.nom }}</h3></div>
                <br>
                    <div class="card-body">
                        <b><p style="font-size: 20px; color: blue;">Type : Salles réservé aux {{ salle.type }}s</p></b>
                        <b><p style="font-size: 20px; color: blueviolet;">Capacité : {{ salle.capacite }} Personnes</p></b>
                        <b><p style="font-size: 20px; color: cadetblue;">Coût De Réservation Par Heure : {{ salle.coutReservationHeure }}DT</p></b>
                    </div>
                <div class="card-footer">
                <fieldset style="width: 1000px">
                    <legend><b>Liste Des Evènements Réservés Dans Cette Salle</b></legend>
                    <div style="padding-left: 20px;">
                    <table style="width: 1000px">
                {% for e in events %}
                    <tr>
                        <td style="display: table-cell; vertical-align: middle;"><p style="color: black;font-size: 20px">{{ e.nom }} :</p></td>
                        <td style="display: table-cell; vertical-align: middle;"><i class="fa fa-clock fa-2x"></i></td>
                        <td style="display: table-cell; vertical-align: middle;"><p style="color: black;font-size: 20px">{{ e.dateDebut|date }}</p></td>
                        <td style="display: table-cell; vertical-align: middle;"><i class="fa fa-arrow-right fa-2x"></i></td>
                        <td style="display: table-cell; vertical-align: middle;"><p style="color: black;font-size: 20px">{{ e.dateFin|date }}</p></td>
                    </tr>
                {% endfor %}
                    </table>
                    </div>
                </fieldset>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    </section>
{% endblock %}