{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.9/css/bootstrap-select.css">
    <script src="{{ asset('Front/vendor/jquery/dist/jquery.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('Front/css/theme.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}
    <section class="content blog-page">
    <div class="container">
    <div class="row clearfix">
    <div class="col-lg-12">
    <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card" style="padding: 20px;">
            <div>
                <h2>Modifier Salle</h2>
                <br>
                {{ form_start(form) }}
                {{ form_row(form.nom) }}
                {{ form_row(form.type,{'attr':{'readonly':'readonly'}}) }}
                {{ form_row(form.capacite) }}
                {{ form_row(form.coutReservationHeure) }}
                <button type="submit" class="btn btn-primary">Modifier</button>
                {{ form_end(form) }}
            </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
{% endblock %}